html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Microsoft YaHei", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #f2f2f2;
  margin-bottom: 80px;
}

button {
  outline: none !important;
}

#loginhtml,
#findPwdhtml,
#changePwdhtml,
#userInfohtml {
  margin-top: 100px;
}

#testInfohtml .panel-heading span {
  cursor: pointer;
  font-size: 15px;
  color: #555;
}

#testInfohtml .head_tab3 {
  padding-top: 20px;
}

#testInfohtml .tab-pane .head_tab3 {
  border-top: none;
}

#testInfohtml .head_tab3 .form-group > div {
  margin-bottom: 15px;
}

#testInfohtml .pointer,
#accounthtml .pointer {
  cursor: pointer;
}

#accounthtml .form-group {
  min-height: 35px !important;
}

#testInfohtml .modal .form-group {
  margin-bottom: 0;
}

#testInfohtml h4 select,
#accounthtml select {
  outline: none;
  font-size: 15px;
  padding: 2px 3px;
  border-radius: 3px;
}

/*查看全部里样式*/
#testInfohtml #iconhide td span {
  cursor: pointer;
  color: #999;
  display: inline-block;
  width: 13px;
  height: 13px;
}

/*过滤查看全部里的样式*/
#testInfohtml #filterExcel,
#testInfohtml #filterTag ul {
  overflow: auto;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 2px;
  z-index: 1000;
  float: left;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: rgba(250, 250, 250, .9);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

#testInfohtml #filterExcel {
  width: 770px;
  padding: 20px;
  max-height: 500px;
  border: 1px solid rgba(0, 0, 0, .15);
}

#testInfohtml #filterTag ul {
  width: 133px;
  max-height: 350px;
}

#testInfohtml #filterTag ul li {
  line-height: 25px;
  padding: 0 5px;
}

#testInfohtml #filterTag ul li.active {
  background-color: #ddd;
  border: none;
}

#testInfohtml #filterTag ul li i {
  color: #666;
  cursor: pointer;
}

#testInfohtml #filterExcel .row {
  margin-bottom: 25px;
}

#testInfohtml #filterExcel .row .input-group-addon {
  width: 96px;
}

#testInfohtml #chooseExcel li {
  list-style: none;
  width: 20%;
  padding: 4px;
  float: left;
}

#testInfohtml #filterExcel label,
#testInfohtml #chooseExcel label {
  font-weight: normal;
}

#testInfohtml #f2 > button {
  width: 94px;
}

/*用户信息页面*/
#userInfohtml {
  border: 1px solid #ddd;
  padding: 50px;
  background-color: #fff;
}

#userInfohtml .nav li,
#userInfohtml .caption {
  text-align: center;
  font-size:14px;
}



/**********************/

/*查看全部数据表单样式*/
#allDataTR {
  margin-top: 42px;
}

#allDataTR td {
  font-size: 9px;
  white-space: nowrap;
}

/*******************/

#footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.navbar-inverse {
  background-color: #FFF;
  border-color: #CACACA;
  box-shadow: 1px 1px 3px #ccc;
  border-left: 0px;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
  color: #8fb300;
  background-color: transparent;
}

 .navbar-inverse .navbar-nav > li > a:hover {
   background-color: #8fb300;
  color: #fff!important;
}

.navbar-inverse .navbar-nav > li > a {
  color: #666;
  font-size: 16px;
  margin-right:1px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #8fb300;
  color: #fff!important;
}

/*响应式部分*/

@media (max-width: 768px) {
  #testInfohtml #filterExcel {
    width: 300px;
    max-height: 400px;
    padding: 10px;
  }

  #testInfohtml #chooseExcel li {
    width: 50%;
  }

  #testInfohtml #f2 > button {
    width: 60px;
  }
}

table tr th {
  border-top: 0px solid #DDD !important;
  border-bottom: 2px solid #DDD;
}
