 .wpl {
        width: 100%;
        max-width: 1180px;
        margin: 0 auto;
    }
#loginPage {
   margin: 100px auto;
    .log-content {
        min-height: 500px;
        height: auto;

        position: relative; //      background-color: #fff;
        //background: url("../../images/ap3.jpg") no-repeat scroll 30% center @body-background-color;
        .pos {
            position: relative;
        }
        .log-row-cx {
            width: 92.5925925%;
            margin: 0 3.7037037%;
            .lr_title_txt {
                height: 40px;
                color: #34495e;
                h2 {
                    line-height: 40px;
                    float: left;
                    font-size: 20px;
                    font-weight: normal;
                    margin: 0;
                    padding: 0;
                };
                span {
                    font-size: 14px;
                    padding-top: 12px;
                    float: right;
                }
            }
            .login_left .log-input,
            .input-group-user {
               width: 100%;
            }
            .login_left {
                width: 400px;
                float: right;
                padding-top: 55px;
                padding-bottom: 80px;
                margin-left: 115px;
                .log-mt {
                    margin-top: 15px;
                    .input-group-user,
                    .input-group-password {
                        position: relative;
                        i {
                            color: @border-color-grey;
                            font-size: 1.5em;
                            position: absolute;
                            padding: 11px 15px;
                         
                        }
                           .fa-envelope {
                                font-size: 1.2em;
                                padding: 14px 15px;
                            }
                    }
                    .input-pr {
                        padding: 20px 20px 20px 40px;
                    }
                    .form-control {
                        border: 2px solid @border-color-grey;
                        &:focus {
                            border: 2px solid @primary-color;
                        }
                    }
                    .checkbox1 {
                        display: inline-block;
                    }
                }
                .btn-tea {
                    width: 104%;
                    height: 40px;
                    margin: 0 -8px;
                }
            }
            .login-wrap-party {
                width: 160px;
                margin-left: 100px;
            }
            .login-wrap-party h2 {
                height: 40px;
                width: 100%;
                line-height: 40px;
                text-align: center;
                font-size: 18px;
                color: #34495e;
                font-weight: normal;
                margin-bottom: 40px;
                padding-top: 35px;
            }
            .login-wrap-party h2.h2 {
                line-height: 26px;
                height: 52px;
            }
            .login-party a {
                width: 160px;
                display: block;
                float: left;
                margin-bottom: 20px;
                opacity: 1;
                /*opacity:0.7; filter:alpha(opacity=70);*/
            }
            .login-party a p {
                width: 80px;
                font-size: 12px;
                height: 40px;
                line-height: 40px;
                float: left;
                text-align: center;
                display: block;
                text-align: center;
                color: #fff;
            }
            .login-party i {
                margin-left: 15px;
                float: left;
                font-size: 25px;
                line-height: 40px;
                display: block;
                width: 100%;
                width: 40px;
                text-align: center;
                color: #fff;
            }
            .login-party a:hover {
                opacity: 1;
                filter:alpha(opacity=100);
                transition: all 0.2s;
            }
            .login-party span {
                border-radius: 2px;
                display: block;
                width: 100%;
                height: 40px;
            }
            .login-party .log-mi span {
                background: #ff9f2d;
            }
            /* mi */
            .login-party .log-sina span {
                background: #ff424f;
            }
            /* æ–°æµª */
            .login-party .log-qq span {
                background: #22a4ff;
            }
            /* qq */
        }
    }

}
/* ====æ–°ç‰ˆæ³¨å†Œ 150113 ==== */
/*.reg_left{width:400px;padding-top:35px;padding-bottom:80px;margin:0 auto;}*/
.reg_left {
    width: 400px;
    float: left;
    padding-top: 35px;
    padding-bottom: 80px;
    margin-left: 115px;
}
.reg_left .icon-warn {
    position: absolute;
    bottom: 5px;
    right: 0;
}
.reg_left .icon-ok {
    position: absolute;
    bottom: 5px;
    right: 0;
}
.reg_left .spanTip {
    position: absolute;
    right: 0;
    bottom: -22px;
}
/* ç¾Žäººé±¼ */
.reg_left .log-cartoon {
    top: 50%;
    margin-top: -155px;
    right: -400px;
}
/* æ˜¯å¦åŒæ„åè®® */
.reg_checkboxline {
    font-size: 14px;
    color: #b8c4ce;
    height: 30px;
    margin: 20px 0;
    line-height: 30px;
}
.reg_checkboxline p a {
    font-size: 14px;
    color: #34495e;
}
.reg_checkboxline i.boxcol {
    background: @primary-color;
    color: #fff;
}
.icon-ok-sign {
    background: #b8c4ce;
    border-radius: 2px;
    margin-right: 10px;
    cursor: pointer;
    overflow: hidden;
    width: 16px;
    height: 16px;
    font-size: 12px;
    display: block;
    margin-top: 7px;
    line-height: 16px;
    text-align: center;
}

.reg_cont_input i.iconfont {
    font-size: 24px;
    position: absolute;
    top: 8px;
}
.reg_cont_input .log-input {
    width: 350px;
}
.reg_cont_input .lang-btn {
    width: 100%;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
}

