.projeict_show{
    font-weight: 600; width: inherit!important; text-align: left; padding-left: 15px; padding-right: 15px; margin-left: 15px;
   
}
.projeict_showbut{
    width:auto;
}
.zone-switcher-select {
    left: -6px;
    width: 100%;
    margin: 0 5px;
    z-index: 10;
    color:#555;
}

.zone-switcher-select li a {
    display: block;
    width:auto!important;
    padding: 0 10px;
    line-height: 36px;
    font-size: 12px;
    background: #fff;
    color: #929292!important;
    cursor: pointer;
    vertical-align: top;
    border-bottom: 1px solid #f5f5f5;
    
}
.zone-switcher-select li{
   width:100%;
   color:#555;
}

.zone-switcher-select li a:hover {
    background: #f6f6f6;
    color: #fff!important;
}

.zone-switcher-select li a .en {
    color: #777
}

.zone-switcher-select .label-current,.zone-switcher-select .label-unchecked {
    width: 8px;
    height: 8px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #57b382;
    display: inline-block;
    margin: 0 10px 0 5px
}

.estimated-legend .label,.zone-label {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px
}

.zone-switcher-select .label-unchecked {
    background: 0 0
}
.picShow_Fright{
    float: right; font-size: 12px; color: #757575;

}

.picShow_idel{
    float: right;
    font-size: 20px;
    color: #7D7D7D;
    margin-right: 11px;
}
.picShow_idel2{
    font-size: 20px;
    color: #7D7D7D;
    margin-right: 11px;
}

.picShow_but{
    width:100%!important;
   padding-top:5px!important;
    height: 50px!important;

    font-size: 14px!important;
    min-height: 20px!important;
    border-radius: 0 0px 2px 2px!important;
}
.Modal_color:hover{
    color:#009999!important;
}

.modal-dialog{
 
    margin: 13% auto 50%;
}
.a-upload {
    padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}
/*开始*****************************************************************************************************************/
#wrapper{
    background: rgba(154, 154, 154, 0.05)!important;
}
    .main-panel-text {
        cursor: pointer;
    }

    /*Radial Reingold–Tilford Tree*/
    #Tilford-Tree .node circle {
        fill: #fff;
        stroke: steelblue;
        stroke-width: 1.5px;
    }

    #Tilford-Tree .node {
        font: 10px sans-serif;
    }

    #Tilford-Tree .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 1.5px;
    }

    /*关键词对比*/
    #bd .background {
        fill: #eee;
    }

    #bd line {
        stroke: #fff;
    }

    #bd text.active {
        fill: red;
    }

    .wordcloud {
        margin: 0 auto;
        padding: 0;
        page-break-after: always;
        page-break-inside: avoid;
        width: 400px;
        height: 305px;
    }

    #checkboxcancel {
        color: rgba(112, 112, 112, 0.91);
        background-color: rgba(1, 56, 53, 0.11);
        float: left;
        margin: 0 1% 1% 0;
        padding: 0 8px;
        text-decoration: none;
        font-size: 12px;
        height: 29px;
        line-height: 29px;
        overflow: hidden;
        position: relative;
        font-weight: normal;
    }

    #checkboxcancel input[type=checkbox] {
        position: relative;
        top: 3px;
        right: -3px;
    }

    .pagination > li > input:focus, .pagination > li > input:hover {
        z-index: 2;
        color: #23527c;
        border-color: #ddd;
        outline: none;
    }

    .pagination > li > input {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #ddd;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
        width: 70px;
    }

    .pagination > li > a:focus, .pagination > li > a:hover {
        color: #099;
        outline: none;
        background-color: #fff;
    }

    .pagination > li > a.active {
        background-color: #eee;
    }

    .pagination > li > a {
        color: #099;
    }
     
   
   
/*结束-此节样式选择器还不完善，待定****************************************************************************************/