<!DOCTYPE html>
<html data-ng-app="myApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg" rel="stylesheet">
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/angular-loading-bar/0.8.0/loading-bar.min.css" rel="stylesheet">
    <link href="~/Scripts/app/style/animate.css" rel="stylesheet" />
    <link href="~/Scripts/app/style/homeUserCenter.css" rel="stylesheet" />
  
    <link href="~/Scripts/app/style/header_2.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/logo_w.ioc.ico" type="image/x-icon">
    <title>塔县皇冠大酒店--CROWNING@TASHKORGAN</title>
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="Scripts/app/view/plu_in/muban_1/css/icomoon.css">
    <!-- Superfish -->
    <link rel="stylesheet" href="Scripts/app/view/plu_in/muban_1/css/superfish.css">
    <link rel="stylesheet" href="Scripts/app/view/plu_in/muban_1/css/style.css">
    <!-- Modernizr JS -->
    <link href="~/Scripts/app/style/addstyle.css" rel="stylesheet" />
    <script src="http://open.web.meitu.com/sources/xiuxiu.js" type="text/javascript"></script>
</head>

<body>

    @RenderBody()
    <script src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/angular.js/1.4.9/angular.min.js"></script>
    <script src="http://cdn.bootcss.com/angular.js/1.4.9/angular-cookies.min.js"></script>
    <script src="http://cdn.bootcss.com/angular-messages/1.4.9/angular-messages.min.js"></script>
    <script src="http://cdn.bootcss.com/angular-ui-router/0.2.14/angular-ui-router.min.js"></script>
    <script src="http://cdn.bootcss.com/angular-loading-bar/0.8.0/loading-bar.min.js"></script>
    <script src="http://cdn.bootcss.com/angular.js/1.4.9/angular-animate.min.js"></script>
    <script src="http://cdn.bootcss.com/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


    <script src="~/Scripts/App.js"></script>
    <script src="~/Scripts/app/publicFun_ctr.js"></script>
    <script src="~/Scripts/app/scripts/ctr/home/home_ctr.js"></script>
    <script src="~/Scripts/app/view/dashboard/main_ctr.js"></script>
    <script src="~/Scripts/app/view/dashboard/articles/PublishArticles_ctr.js"></script>
    <script src="~/Scripts/app/view/dashboard/articles/Published_Articles_ctr.js"></script>
    <script src="~/Scripts/app/view/dashboard/userService/OptimalEvaluation_ctr.js"></script>
    <script src="~/Scripts/app/view/dashboard/userService/UserShare_ctr.js"></script>
    <script src="~/Scripts/app/view/home_ls/login_ctr.js"></script>
    <script src="~/Scripts/app/view/home_ls/reset_ctr.js"></script>
    <script src="~/Scripts/app/view/home_ls/signup_ctr.js"></script>

    <script src="~/Scripts/app/view/TwoLevelPage/TwoLevelPage_ctr.js"></script>
    <script src="~/Scripts/app/view/TwoLevelPage/AboutUs_ctr.js"></script>
    <script src="~/Scripts/app/view/TwoLevelPage/LocalStyle_ctr.js"></script>
    <script src="~/Scripts/app/view/TwoLevelPage/HotelFeatures_ctr.js"></script>
    <script src="~/Scripts/app/view/TwoLevelPage/SharedFeeling_ctr.js"></script>
    <script src="~/Scripts/app/view/TwoLevelPage/UserCenter_ctr.js"></script>
    <script src="~/Scripts/app/view/dashboard/articles/PArticlesCun_ctr.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
