<h2>待开发.....</h2>
<!--<div class="mt20 row">
    <div class="col-lg-3" ng-show="isActiveCollection2">
        <div class="main-panel">
            <div class="main-panel-title">
                <span class="main-panel-text active">词组</span>
                <a href="" title=""><i class="fa fa-minus"></i></a>
                <a href="" title=""><i class="fa fa-refresh" ng-click="RefreshGetBaiduKeyword()"></i></a>
                <form role="form" class="search-content-from" style="right:40px;">
                    <div class="form-group search-content-input">
                        <input type="text" class="form-control search-content" id="name6" placeholder="请输入关键词">
                        <i class="fa fa-search"></i>
                    </div>
                </form>
            </div>
            <div class="main-panel-content" style="min-height: 168px; max-height:168px; ">
                <div class="keywords">
                    <div class="items">
                        <span ng-repeat="c in GetAllKeywordCategory1 ">
                            <a href="" ng-click="keywordMngClick(c._id)" ng-class="{true: 'active', false: 'inactive'}[c._id == $root.keywordMngClicked]">
                                <span class="fa fa-square" ng-class="{0: 'red', 1: 'orange', 2: 'green'}[c.BotStatus]"></span> {{c.Name}}({{c.ValLinkCount}})
                            </a>
                        </span>
                    </div>
                </div>
                <div class="loadMore" ng-click="GetMoreBaiduKeyword()" ng-show="isActiveLoadmore">
                    加载更多...
                </div>
            </div>
        </div>
        <div class="main-panel">
            <div class="main-panel-title">
                <span class="main-panel-text active">微信搜索词</span>
                <a href="" title=""><i class="fa fa-minus"></i></a>
                <a href="" title=""><i class="fa fa-refresh" ng-click="RefreshGetBaiduKeyword()"></i></a>
                <form role="form" class="search-content-from" style="right:40px;">
                    <div class="form-group search-content-input">
                        <input type="text" class="form-control search-content" id="name9" placeholder="请输入关键词" ng-model="historyBaidu">
                        <i class="fa fa-search"></i>
                    </div>
                </form>
            </div>
            <div class="main-panel-content" style=" min-height: 180px; max-height:180px; ">
                <div class="keywords">
                    <div class="items">

                        <span ng-repeat="x in keywordsListRecord | filter:historyBaidu">
                            <a href="" onmouseover="$(this).children('i').show()" onmouseout="$(this).children('i').hide()" ng-click="getBaiduRecord(x._id,x.CommendKeywordId)" ng-class="{true: 'active', false: 'inactive'}[ x._id == $root.getBaiduRecordId]">
                                <span class="fa fa-circle" ng-class="{0: 'red', 1: 'orange', 2: 'green'}[x.BotStatus]"></span> {{x.ProjectName}}({{x.ValLinkCount}})<i ng-click="ExcludeBaiduKeyword(x._id)" style="display: none;" class="fa fa-close"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="loadMore" ng-click="GetMoreBaiduKeyword()" ng-show="isActiveLoadmore">
                    加载更多...
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3" ng-hide="isActiveCollection2" id="linkCollection2">
        <div class="main-panel">
            <div class="main-panel-title">
                <span class="main-panel-text active">侵权行为</span>
                <a href="" title=""><i class="fa fa-minus"></i></a>
                <a href="" title=""><i class="fa fa-refresh" ng-click="RefreshgetBaiduRecord($root.getBaiduRecordId)"></i></a>
            </div>
            <div class="main-panel-content" id="demo" style="min-height:700px;max-height:700px">
                <div class="keywords">
                    <div class="list-group">
                        <a href="" class="list-group-item" style="padding-left:20px;font-size:15px;" ng-click="ChangeInfriType('')" ng-class="{true: 'active', false: 'inactive'}[infriLawCode =='']">
                            全部不正当竞争行为
                        </a>
                        <a href="" class="list-group-item" title="擅自使用知名商品特有的名称、包装、装潢行为" ng-click="ChangeInfriType('1')" ng-class="{true: 'active', false: 'inactive'}[infriLawCode == 1]">擅自使用知名商品特有的...</a>
                        <a href="" class="list-group-item" ng-click="ChangeInfriType('2')" ng-class="{true: 'active', false: 'inactive'}[infriLawCode == 2]">商业贿赂行为</a>
                        <a href="" class="list-group-item" ng-click="ChangeInfriType('3')" ng-class="{true: 'active', false: 'inactive'}[infriLawCode == 3]">虚假宣传行为</a>
                        <a href="" class="list-group-item" ng-click="ChangeInfriType('4')" ng-class="{true: 'active', false: 'inactive'}[infriLawCode == 4]">侵犯商业秘密行为</a>
                        <a href="" class="list-group-item" ng-click="ChangeInfriType('5')" ng-class="{true: 'active', false: 'inactive'}[infriLawCode == 5]">不正当有奖销售行为</a>
                        <a href="" class="list-group-item" title="公用企业或独占经营者强制交易行为" ng-click="ChangeInfriType('6')" ng-class="{true: 'active', false: 'inactive'}[infriLawCode == 6]">公用企业或独占经营者强...</a>
                        <a href="" class="list-group-item" ng-click="ChangeInfriType('7')" ng-class="{true: 'active', false: 'inactive'}[infriLawCode == 7]">滥用行政权力限制竞争行为</a>
                        <a href="" class="list-group-item" ng-click="ChangeInfriType('8')" ng-class="{true: 'active', false: 'inactive'}[infriLawCode == 8]">串通招投标行为</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-9" ng-show="isActiveCollection2">
        <div class="main-panel">
            <div class="main-panel-title">
                <span class="main-panel-text active">微信搜索详情</span>
                <a href="" title=""><i class="fa fa-minus"></i></a>
                <a href="" title=""><i class="fa fa-refresh" ng-click="RefreshGetBaiduLevelLinks($root.BaidukeywordId)"></i></a>
                <a href="" title=""><i class="fa fa-filter" ng-click="addkeywordFilterSogou()"></i></a>
                <a href="" title="已收藏链接" ng-click="showbaiduCollectionLinks()"><i ng-class="{false: 'fa fa-star', true: 'fa fa-star-o'}[isActiveCollection2]"></i></a>
                <form role="form" class="search-content-from" style="right:75px;">
                    <div class="form-group search-content-input">
                        <input type="text" class="form-control search-content" id="name7" placeholder="请输入关键词" ng-model="BaiduLevelLinks">
                        <i class="fa fa-search"></i>
                    </div>
                </form>
            </div>
            <div class="main-panel-content" style="min-height:790px;max-height:none;">

                <span ng-repeat="z in resultList | filter:BaiduLevelLinks">
                    <div class="baidu-cards">
                        <div class="baidu-cards-title">
                            <a href={{z.LinkUrl}} target="_blank">
                                {{z.Title.length>50? ((z.Title | limitTo:50)+"...") : z.Title }}
                            </a>
                            <a href="" class="collection">

                                <i ng-click="SetLinkStatus(z._id,'save')" id={{z._id}} class="fa" ng-class="{true: 'fa-star', false: 'fa-star-o'}[z.DataCleanStatus==1]"></i>&nbsp;<i class="fa fa-trash-o" ng-click="SetLinkStatus(z._id,'delete')"></i>
                            </a>

                        </div>
                        <div class="baidu-cards-abstract" data-toggle="tooltip" data-placement="top" title={{z.Description}}>
                            <span class="baidu-cards-title-time">
                                {{z.CreatedAt| date:'yyyy-MM-dd'}} -
                            </span>{{z.Description.length>150? ((x.Description | limitTo:150)+"...") : z.Description }}
                        </div>
                        <div class="baidu-cards-footer">
                            <a href={{z.SourceLink}} class="domain">{{z.Domain}}</a>
                            <span class="domain-v" ng-show="z.BaiduVStar==1" style="background-position: -888px -185px;"></span>
                            <span class="domain-v" ng-show="z.BaiduVStar==2" style="background-position: -910px -185px;"></span>
                            <span class="domain-v" ng-show="z.BaiduVStar==3" style="background-position: -932px -185px;"></span>

                            <a ng-show="z.IsMarket" href="" class=""> - 推广</a>
                        </div>
                    </div>
                </span>
                <div class="row text-right pr20">
                    <pagination boundary-links="true" class="pagination-sm" total-items="BaiduCount" items-per-page="pagesize2" ng-change="GetBaiduLevelLinks2()" ng-model="page2" max-size="5" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                    </pagination>
                </div>
            </div>

        </div>

    </div>

    <div class="col-lg-9" ng-hide="isActiveCollection2">
        <div class="main-panel">
            <div class="main-panel-title">
                <span class="main-panel-text active">已收藏链接</span>
                <a href="" title=""><i class="fa fa-minus"></i></a>
                <a href="" title=""><i class="fa fa-refresh" ng-click="RefreshGetBaiduLevelLinks($root.BaidukeywordId)"></i></a>
                <a href="" title=""><i class="fa fa-filter" ng-click="addkeywordFilterSogou()"></i></a>
                <a href="" title="已收藏链接" ng-click="showbaiduCollectionLinks()"><i ng-class="{false: 'fa fa-star', true: 'fa fa-star-o'}[isActiveCollection2]"></i></a>
                <form role="form" class="search-content-from" style="right:75px;">
                    <div class="form-group search-content-input">
                        <input type="text" class="form-control search-content" id="name8" placeholder="请输入关键词" ng-model="BaiduLevelLinks">
                        <i class="fa fa-search"></i>
                    </div>
                </form>
            </div>
            <div class="main-panel-content" style="min-height:790px;max-height:none;">
                <span ng-repeat="z in resultList | filter:BaiduLevelLinks">
                    <div class="baidu-cards">
                        <div class="baidu-cards-title">
                            <a href={{z.LinkUrl}} target="_blank">{{z.Title}}</a>
                            <a href="" class="collection">
                                <i ng-click="SetLinkStatus(z._id)" id={{z._id}} class="fa" ng-class="{true: 'fa-star', false: 'fa-star-o'}[z.DataCleanStatus==1]"></i>
                            </a>
                            <select name="InfriType" ng-model="z.InfriLawCode" ng-options="x.Key as x.Value for x in InfriTypes" class="form-control selectOption mr20" ng-change="SetLinkInfriType(z._id,z.InfriLawCode)" style=" float: right; width: 30%; padding:0; height: 25px;">
                                <option value="">-- 请选择侵权类型 --</option>
                            </select>
                            <span style="float:right;padding:2px 5px 0 0;">侵权方式:</span>
                        </div>
                        <div class="baidu-cards-abstract" data-toggle="tooltip" data-placement="top" title={{z.Description}}>
                            <span class="baidu-cards-title-time">
                                {{z.CreatedAt| date:'yyyy-MM-dd'}} -
                            </span>{{z.Description.length>150? ((x.Description | limitTo:150)+"...") : z.Description }}
                        </div>
                        <div class="baidu-cards-footer">
                            <a href="" class="domain">{{z.Domain}}</a>
                            <span class="domain-v" ng-show="z.BaiduVStar==1" style="background-position: -888px -185px;"></span>
                            <span class="domain-v" ng-show="z.BaiduVStar==2" style="background-position: -910px -185px;"></span>
                            <span class="domain-v" ng-show="z.BaiduVStar==3" style="background-position: -932px -185px;"></span>

                            <a ng-show="z.IsMarket" href="" class=""> - 推广</a>
                            <span> - <a href="" class="baidu-cards-title-time">74%-好评</a></span>
                        </div>
                    </div>
                </span>
                <div class="row text-right pr20">
                    <pagination boundary-links="true" class="pagination-sm" total-items="BaiduCount" items-per-page="pagesize2" ng-change="GetBaiduLevelLinks2()" ng-model="page2" max-size="5" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                    </pagination>
                </div>
            </div>

        </div>

    </div>
</div>-->


<div ng-include="'Scripts/app/views/common/alert.html'"></div>
<div ng-include="'Scripts/app/views/common/footer.html'"></div>
<script>
    $(function () {
        $('.fa-minus').click(function () {
            var cardContent = $(this).parent().parent().parent('.main-panel').children('.main-panel-content');
            if (cardContent.hasClass('active')) {
                $(this).addClass('fa-minus');
                $(this).removeClass('fa-plus');
                $(cardContent).removeClass('active');
            } else {
                $(this).removeClass('fa-minus');
                $(this).addClass('fa-plus');
                $(cardContent).addClass('active');
            }
            cardContent.toggle(500);
        });
        //收藏
    })
</script>