<div ng-controller="publicFun_ctr">
    <div ui-view></div>
    <div ng-include="'Scripts/app/view/comment/alert.html?v=20170104'" style="z-index:10001!important;position: fixed; right: 15px; top: 80px;"></div>
</div>
