<div ng-include="'Scripts/app/views/BackstageManagement/commen/UMheader.html'"></div>
<div id="UserManage" class="container">
    <div id="dashboard" class="wrapper">
        <div class="row" id="app-info">
            <div class="col-md-4 section">
                <section class="hot-user useropt">
                    <span class="title">活跃用户</span>
                    <span class="pull-right">
                        <a href="" class="code">
                        </a>
                    </span>
                    <div class="count" style="margin-top:5px;">
                        <div id="shouzhibi_pie" style="height: 140px; width: 140px; margin: auto;"></div>
                        <div class="pie_s_s">
                            {{GetUserCountList.ActiveUserPercent|number:1}}%<br />
                            <span style="font-size: 18px; color: #777; margin-top: 8px; display: inline-block;">{{GetUserCountList.ActiveUser}}</span>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-4 section last">
                <section class="all-user">
                    <ul>
                        <li>
                            <span>新增付费用户</span>
                            <div class="bold" style="color: #ff7233; font-size: 24px; font-weight: 600; margin-top:10px">
                                {{GetUserCountList.NewPurchaseUser}}
                            </div>
                        </li>
                        <li class="push">
                            <span>新增普通用户</span>
                            <div class="bold" style="color: #808080; font-size: 24px; font-weight: 600; margin-top: 10px">
                                {{GetUserCountList.NewFreeUser}}
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="col-md-4 section">
                <section class="new-user useropt">
                    <span class="title">付费转化率</span>
                    <span class="pull-right">
                        <a href="" class="code">
                        </a>
                    </span>
                    <div class="count" style="margin-top:5px;">
                        <div id="shouzhibi_pie_2" style="height: 140px; width: 140px; margin: auto;"></div>
                        <div class="pie_s_s" style="color: #808080">{{GetUserCountList.PurchaseeUserPercent|number:1}}%<br />
                            <span style="font-size: 18px; color: #777; margin-top: 8px; display: inline-block;">{{GetUserCountList.PurchaseUser}}</span></div>
                    </div>
                </section>
            </div>
        </div>
    </div>


    <div id="caseInquiry" class="wrapper">
        <div class="panel  mb0">
            <div class="module-store-filter header">
                <div class="row">
                    <div class="col-md-12" style=" height: 35px; line-height: 35px; font-size: 18px; font-weight: 500; color: #717171; margin-left: 10px;">
                        用户变化趋势
                        <div class="btn-group" style="z-index: 5; margin-right: -7px; margin-top: 2px; float: right">
                            <button ng-class="{true:'active',false:''}[userTypeUL==0]" id="typetop" class="btn btn-custom-default pl10 pr10 " ng-click="userTypeULFun(0)">累计用户</button>
                            <button ng-class="{true:'active',false:''}[userTypeUL==1]" id="typetop" class="btn btn-custom-default  pl10 pr10" ng-click="userTypeULFun(1)">活跃用户</button>
                            <button ng-class="{true:'active',false:''}[userTypeUL==2]" id="typetop" class="btn btn-custom-default  pl10 pr10" ng-click="userTypeULFun(2)">新增用户</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tubiao_1" style=" border-top: 1px solid #ccc; padding: 20px 5% 0px;">
                <div id="UserQMap" style="width:100%;height:300px;"></div>
            </div>
            <span id="loading_more" class="moreUpAndDown_2 " ng-class="{true:'active_moreUpAndDown',flase:''}[tab_show1]" ><!--ng-click="tab_show_fun1()"--><span><i class="fa fa-chevron-down" style="margin-right:10px;color:#ccc;font-size:16px"></i>整体数据明细</span></span>
            <!--<div id="detailsTable " ng-show="tab_show1" style="background-color: #fff; width: 100%; ">
                <div style="border-top: 4px solid #099; border-bottom: 1px solid #099; ">
                    <table class="table table-hover table-striped mb0">
                        <thead>
                            <tr>
                                <th style="padding-left:40px">风控号</th>
                                <th>时间</th>
                                <th>状态</th>
                                <th>案号</th>
                                <th>客户</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td class="">风控号</td>
                                <td class="">风控号</td>
                                <td class="">风控号</td>
                                <td class="">风控号</td>
                                <td class="">风控号</td>
                            </tr>
                            <tr>
                                <td class="">风控号</td>
                                <td class="">风控号</td>
                                <td class="">风控号</td>
                                <td class="">风控号</td>
                                <td class="">风控号</td>
                            </tr>
                            <tr>
                                <td class="">风控号</td>
                                <td class="">风控号</td>
                                <td class="">风控号</td>
                                <td class="">风控号</td>
                                <td class="">风控号</td>
                            </tr>
                            <tr>
                                <td class="">风控号</td>
                                <td class="">风控号</td>
                                <td class="">风控号</td>
                                <td class="">风控号</td>
                                <td class="">风控号</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <span id="loading_more" class="moreUpAndDown_2 " style="border-top:0;padding:11px;"></span>
            </div>-->
        </div>
    </div>

    <div id="caseInquiry" class="wrapper">
        <div class="panel  mb0">
            <div class="module-store-filter header">
                <div class="row">
                    <div class="col-md-7">
                        <div style="height: 35px; line-height: 35px; font-size: 18px; font-weight: 500; color: #717171; margin-left: 10px;">
                            用户主要城市地域分布
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="btn-group " style="z-index: 5; float: right; margin-right: -7px; margin-top: 2px;">
                            <button ng-class="{true:'active',false:''}[GetUserDType==0]" id="typetop" class="btn btn-custom-default pl10 pr10 " ng-click="GetUserDTypeFun(0)">全部用户</button>
                            <button ng-class="{true:'active',false:''}[GetUserDType==1]" id="typetop" class="btn btn-custom-default  pl10 pr10" ng-click="GetUserDTypeFun(1)">活跃用户</button>
                            <button ng-class="{true:'active',false:''}[GetUserDType==2]" id="typetop" class="btn btn-custom-default  pl10 pr10" ng-click="GetUserDTypeFun(2)">付费用户</button>
                            <button ng-class="{true:'active',false:''}[GetUserDType==3]" id="typetop" class="btn btn-custom-default  pl10 pr10" ng-click="GetUserDTypeFun(3)">普通用户</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tubiao_1" style=" border-top: 1px solid #ccc; padding:10px; ">
                <div id="UserDistribution" style="width:100%;height:450px;"></div>
            </div>
          <!--  <span id="loading_more" class="moreUpAndDown_2 " ng-class="{true:'active_moreUpAndDown',flase:''}[tab_show2]" ng-click="tab_show_fun2()"><span><i class="fa fa-chevron-down" style="margin-right:10px;color:#ccc;font-size:16px"></i>整体数据明细</span></span>-->
            <!--<div id="detailsTable " ng-show="tab_show2" style="background-color: #fff;width: 100%; ">
                <div style="border-top: 4px solid #099; border-bottom: 1px solid #099; ">
                    <table class="table table-hover table-striped mb0">
                        <thead>
                            <tr>
                                <th style="padding-left:40px">风控号</th>
                                <th>时间</th>
                                <th>状态</th>
                                <th>案号</th>
                                <th>客户</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td class="">风控号</td>
                                <td class="">风控号</td>
                                <td class="">风控号</td>
                                <td class="">风控号</td>
                                <td class="">风控号</td>
                            </tr>
                            <tr>
                                <td class="">风控号</td>
                                <td class="">风控号</td>
                                <td class="">风控号</td>
                                <td class="">风控号</td>
                                <td class="">风控号</td>
                            </tr>
                            <tr>
                                <td class="">风控号</td>
                                <td class="">风控号</td>
                                <td class="">风控号</td>
                                <td class="">风控号</td>
                                <td class="">风控号</td>
                            </tr>
                            <tr>
                                <td class="">风控号</td>
                                <td class="">风控号</td>
                                <td class="">风控号</td>
                                <td class="">风控号</td>
                                <td class="">风控号</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <span id="loading_more" class="moreUpAndDown_2 " style="border-top:0;padding:11px;"></span>
            </div>-->
        </div>
    </div>

   
    <div id="caseInquiry" class="wrapper mb20">
        <div class="panel  mb0">
            <div class="module-store-filter header">
                <div class="row">
                    <div class="col-md-7">
                        <div style=" height: 35px; line-height: 35px; font-size: 18px; font-weight: 500; color: #717171; margin-left: 10px;">
                            用户列表
                        </div>
                    </div>
                </div>
            </div>
            <div id="detailsTable" style="background-color: #fff; width: 100%; ">
                <div style="border-top: 4px solid #099; border-bottom: 1px solid #099; margin-bottom:15px;">
                    <table class="table table-hover table-striped mb0">
                        <thead>
                            <tr>
                                <th style="padding-left:40px">序号</th>
                                <th>用户</th>
                                <th>级别</th>
                                <th>已付费用</th>
                                <th>账户余额</th>
                                <th>已签署合同</th>
                                <th>项目数</th>
                                <th>搜索连接数</th>
                                <th>创建报告数</th>
                                <th>搜索关键词数</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in GetUserInfoList">
                                <td style="padding-left:40px">{{$index+1}}</td>
                                <td>{{x.UserName}}</td>
                                <td>{{x.UserType}}</td>
                                <td>￥{{x.PurchaseMoney | number:2}}</td>
                                <td>￥{{x.Balance | number:2}}</td>
                                <td>{{x.Contract}}</td>
                                <td>{{x.ProjectNum}}</td>
                                <td>{{x.LinkNum}}</td>
                                <td>{{x.ReportNum}}</td>
                                <td>{{x.KeywordNum}}</td>
                                <td><i class="fa fa-vcard-o "style="cursor:pointer"></i></td>
                            </tr>
                        </tbody>
                    </table>
                  
                </div>
                <div class="row  mt5 "style="text-align:right;height:40px;">
                    <pagination boundary-links="true" class="pagination-sm" total-items="GetUserInfoListCount"
                                items-per-page="GetUInfoPagesize" ng-change="GetUserInfo()" ng-model="GetUInfoPage" max-size="5"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                    </pagination>
                </div>
                <span id="loading_more" class="moreUpAndDown_2 " style="border-top:0;padding:3px;" ></span>
            </div>
        </div>
    </div>








</div>


<div ng-include="'Scripts/app/views/common/footer.html'"></div>