<div class="main-panel">
    <div ng-include="'Scripts/app/views/Dashboard/WeChat/WC_model/WC_TabCounter.html'"></div>
    <div class="main-panel-content" style="min-height:650px;max-height:none;">
        <div id="AnalysisZ" class="mb10">
            <div class="WebRelationsSelect">
                <a ng-click="WebRelationsFun()" ng-class="{true: 'active', false: ''}[WebRelations]">文章关系</a>
                <a ng-click="WebRelationsFun()" ng-class="{true: 'active', false: ''}[!WebRelations]">公众号关系</a>
            </div>
            <div class="top_change">
                <a href="" class="fixed_time1  " ng-class="{true: 'active', false: ''}[GXtimeInterval==0]" ng-click="GXtimeIntervalFun(0)" style="border:0px;">
                    总览
                </a>
                <!--<a href="" class="fixed_time1 " ng-class="{true: 'active', false: ''}[GXtimeInterval==3]" ng-click="GXtimeIntervalFun(3)" >
                    年度
                </a>
                <a href="" class="fixed_time1 " ng-class="{true: 'active', false: ''}[GXtimeInterval==2]" ng-click="GXtimeIntervalFun(2)" >
                    季度
                </a>
                <a href="" class="fixed_time1 " ng-class="{true: 'active', false: ''}[GXtimeInterval==1]" ng-click="GXtimeIntervalFun(1)" >
                    月度
                </a>-->
            </div>
        </div>
        <div style="position:relative" class="row">
            <div style="position: absolute; right: 20px; top: -20px; color: #ababab; font-size: 16px; cursor:pointer">
                <i class="fa fa-minus-square" ng-show="!CListShow" ng-click="CListShowFun()"></i>
                <i class="fa fa-plus-square" ng-hide="!CListShow" ng-click="CListShowFun()"></i>
            </div>
            <div class="col-lg-12" style="background:url(Scripts/app/images/NewHome/guanxitub.png) no-repeat top  scroll; background-size: contain;  border-right: 1px solid #ccc;" ng-if="!CListShow">
                <div id="GetECGuanxiTime" style="height:600px"></div>
            </div>
            <div ng-if="CListShow">
                <div class="col-lg-3 pr20 pt10 ">
                    <div class="row mt10">
                        <span style="color: #337777; margin-left: 20px; font-size: 16px; ">{{}}
                            {{getProjectName.length>15? ((getProjectName | limitTo:14)+"...") : getProjectName}}
                        </span>
                        <div style="text-align: center; height: 78px; margin-top: 10px;">
                            <div class="col-lg-6">
                                <span style="color: #099; font-size: 30px; margin: 20px 0 10px; display: inline-block">{{ariticalsNum}}</span><br />
                                <span ng-show="WebRelations">文章数</span>
                                <span ng-show="!WebRelations">公众号数</span>
                            </div>
                            <div class="col-lg-6">
                                <span style="color: #099; font-size: 30px; margin: 20px 0 10px; display: inline-block">{{ariticalslinksNum}}</span><br />
                                联系数
                            </div>
                        </div>
                        <div class="topList" style=" padding: 0 0 0 20px ;">
                            <div style="font-size: 18px; border-bottom: 2px solid #ccc; padding-bottom: 6px; margin-bottom: 10px; margin-top: 10px;">
                                <span ng-show="TopListShow==1" class="weiXianShow"><span class="weiXianNum">1</span>机构影响力</span>
                                <span ng-hide="TopListShow==1" class="weiXian" ng-click="TopListShowFun(1)">1</span>
                                <span ng-show="TopListShow==2" class="weiXianShow"><span class="weiXianNum">2</span>最具影响力</span>
                                <span ng-hide="TopListShow==2" class="weiXian" ng-click="TopListShowFun(2)">2</span>
                                <span ng-show="TopListShow==3" class="weiXianShow"><span class="weiXianNum">3</span>命中关键词</span>
                                <span ng-hide="TopListShow==3" class="weiXian" ng-click="TopListShowFun(3)">3</span>
                                <span ng-show="TopListShow==4&&WebRelations" class="weiXianShow"><span class="weiXianNum">4</span>文章联系数</span>
                                <span ng-show="TopListShow==4&&!WebRelations" class="weiXianShow"><span class="weiXianNum">4</span>公众号联系数</span>
                                <span ng-hide="TopListShow==4" class="weiXian" ng-click="TopListShowFun(4)">4</span>
                            </div>
                            <ul ng-show="TopListShow==1">
                                <li style="padding: 7px 5px; font-size: 15px; border-bottom: 1px solid #099; font-weight: 600;">&nbsp;组织机构<span style=" float: right; ">指数</span></li>
                            </ul>
                            <ul ng-show="TopListShow==1">
                                <li ng-repeat="x in CateWeights" style="padding:10px 5px; font-size: 14px; border-bottom: 1px solid #ccc; " ng-show="$index<10" >{{$index+1}}.<a>{{x.Category.length>13? ((x.Category | limitTo:12)+"...") : x.Category}}</a><span style=" float: right; color: #e65f1c; font-weight: 600;">{{x.Weight}}</span></li>
                            </ul>

                            <ul ng-show="TopListShow!=1&&WebRelations">
                                <li style="padding: 7px 5px; font-size: 15px; border-bottom: 1px solid #099; font-weight: 600;">&nbsp;网页标题<span style=" float: right; ">指数</span></li>
                            </ul>
                            <ul ng-show="TopListShow==2&&WebRelations">
                                <li ng-repeat="x in TopArtices" style="padding:10px 5px; font-size: 14px; border-bottom: 1px solid #ccc; ">{{$index+1}}.<a ng-href="{{x.linkUrl}}" target="_blank">{{x.name.length>13? ((x.name | limitTo:12)+"...") : x.name}}</a><span style=" float: right; color: #e65f1c; font-weight: 600;">{{x.value}}</span></li>
                            </ul>
                            <ul ng-show="TopListShow==3&&WebRelations">
                                <li ng-repeat="x in TopKeyArtices" style="padding:10px 5px; font-size: 14px; border-bottom: 1px solid #ccc; ">{{$index+1}}.<a ng-href="{{x.linkUrl}}" target="_blank">{{x.name.length>13? ((x.name | limitTo:12)+"...") : x.name}}</a><span style=" float: right; color: #e65f1c; font-weight: 600;">{{x.value}}</span></li>
                            </ul>
                            <ul ng-show="TopListShow==4&&WebRelations">
                                <li ng-repeat="x in TopCateArtices" style="padding:10px 5px; font-size: 14px; border-bottom: 1px solid #ccc; ">{{$index+1}}.<a ng-href="{{x.linkUrl}}" target="_blank">{{x.name.length>13? ((x.name | limitTo:12)+"...") : x.name}}</a><span style=" float: right; color: #e65f1c; font-weight: 600;">{{x.value}}</span></li>
                            </ul>
                            <ul ng-show="TopListShow!=1&&!WebRelations">
                                <li style="padding: 7px 5px; font-size: 15px; border-bottom: 1px solid #099; font-weight: 600;">&nbsp;公众号名称<span style=" float: right; ">指数</span></li>
                            </ul>
                            <ul ng-show="TopListShow==2&&!WebRelations">
                                <li ng-repeat="x in TopArtices" style="padding:10px 5px; font-size: 14px; border-bottom: 1px solid #ccc; ">{{$index+1}}.<a ng-href="{{x.linkUrl}}" target="_blank">{{x.nickname.length>13? ((x.nickname | limitTo:12)+"...") : x.nickname}}</a><span style=" float: right; color: #e65f1c; font-weight: 600;">{{x.value}}</span></li>
                            </ul>
                            <ul ng-show="TopListShow==3&&!WebRelations">
                                <li ng-repeat="x in TopKeyArtices" style="padding:10px 5px; font-size: 14px; border-bottom: 1px solid #ccc; ">{{$index+1}}.<a ng-href="{{x.linkUrl}}" target="_blank">{{x.nickname.length>13? ((x.nickname | limitTo:12)+"...") : x.nickname}}</a><span style=" float: right; color: #e65f1c; font-weight: 600;">{{x.value}}</span></li>
                            </ul>
                            <ul ng-show="TopListShow==4&&!WebRelations">
                                <li ng-repeat="x in TopCateArtices" style="padding:10px 5px; font-size: 14px; border-bottom: 1px solid #ccc; ">{{$index+1}}.<a ng-href="{{x.linkUrl}}" target="_blank">{{x.nickname.length>13? ((x.nickname | limitTo:12)+"...") : x.nickname}}</a><span style=" float: right; color: #e65f1c; font-weight: 600;">{{x.value}}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 wangGuanX2">
                    <h4>监测概要</h4> 
                    <p>
                        <span>{{GetLinkReferCountList.ProName}}</span>，是为{{GetLinkReferCountList.ProDesc}}。使用<span>{{GetLinkReferCountList.KeywordNum}}</span>个关键词，分为<span>{{GetLinkReferCountList.CateNum}}</span>个词组，查询百度搜索引擎排名前三页的结果链接，按照排名靠前则容易被用户看到的原则，对关键词代表的新闻、资讯、官方网站的链接可视度进行细化分析。以上搜搜，共获得 <span>{{GetLinkReferCountList.LinkNum}}</span>篇文章，来自<span>{{GetLinkReferCountList.SiteNum}}</span>个公众号。
                    </p>
                    <div class="row">
                        <div class="col-lg-8">
                            <div style="background: url(Scripts/app/images/NewHome/guanxitub.png) no-repeat top left scroll; background-size: contain; ">
                                <div id="GetECGuanxiTime" style="height:680px;" ng-if="WebRelations"></div>
                                <div id="GetECGuanxiTime2" style="height:680px;" ng-if="!WebRelations"></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="GXTdescribe ">
                                <i class="fa fa-question-circle" ng-click="GXTdescribe(1)"></i>
                                <i class="fa fa-pencil-square" ng-click="GXTdescribe(2)"></i>
                                <div class="describeCard" ng-show="GXT.describeNum==1">
                                    <h3>说明:</h3>
                                    <p>
                                        从搜索到的网页中，逐一比计数包含的关键词个数，用圆点的大小表示，记录以及两两包含同一个关键词的网页用关系连线表示。并以不同的颜色表示不同的词组。我们得到一个按照关键词聚类，按照组别选定颜色的可见网页内容关系图。
                                    </p>
                                    <p>
                                        按照弹簧电子模型，以圆形显示所有不同的网页关键词命中数和两两关联关系，就得到下述力感可视化图形。包含越多关键词和连接数的网页和网页族（link cluster）就会出现在核心的位置，而随着网页关键词、连接数的变化，网页族被显示在内圈（仅仅次于核心的份量）、外圈、边缘。
                                    </p>
                                    <p>
                                        我们用核心、内圈、外圈、边缘来标示不同的数据族在一个网络可见度的评价模型中的重要地位。
                                    </p>
                                </div>
                            </div>
                            <div class="SLcard mt5" ng-show="GXT.describeNum!=1">
                                <h4>核心区：</h4>
                                <div ng-show="GXT.describeNum==2">
                                    <textarea class="form-control" rows="4" ng-model="descList.a"></textarea>
                                </div>
                                <div ng-show="GXT.describeNum==0" style="height: 110px; overflow-y: auto;">
                                    <span ng-show="GetReferChartDescList.Id">{{descList.a}}</span>
                                    <span ng-show="!GetReferChartDescList.Id" ng-click="GXTdescribe(2)">尚未添加描述</span>
                                </div>
                            </div>
                            <div class="SLcard" ng-show="GXT.describeNum!=1">
                                <h4>内圈区：</h4>
                                <div ng-show="GXT.describeNum==2">
                                    <textarea class="form-control" rows="4" ng-model="descList.b"></textarea>
                                </div>
                                <div ng-show="GXT.describeNum==0" style="height: 110px; overflow-y: auto;">
                                    <span ng-show="GetReferChartDescList.Id">{{descList.b}}</span>
                                    <span ng-show="!GetReferChartDescList.Id" ng-click="GXTdescribe(2)">尚未添加描述</span>
                                </div>
                            </div>
                            <div class="SLcard" ng-show="GXT.describeNum!=1">
                                <h4>外圈区：</h4>
                                <div ng-show="GXT.describeNum===2">
                                    <textarea class="form-control" rows="4" ng-model="descList.c"></textarea>
                                </div>
                                <div ng-show="GXT.describeNum===0" style="height: 110px; overflow-y: auto;">
                                    <span ng-show="GetReferChartDescList.Id">{{descList.c}}</span>
                                    <span ng-show="!GetReferChartDescList.Id" ng-click="GXTdescribe(2)">尚未添加描述</span>
                                </div>
                            </div>
                            <div class="SLcard" ng-show="GXT.describeNum!=1">
                                <h4>边缘区：</h4>
                                <div ng-show="GXT.describeNum===2">
                                    <textarea class="form-control" rows="4" ng-model="descList.d"></textarea>
                                </div>
                                <div ng-show="GXT.describeNum===0" style="height: 110px; overflow-y: auto;">
                                    <span ng-show="GetReferChartDescList.Id">{{descList.d}}</span>
                                    <span ng-show="!GetReferChartDescList.Id" ng-click="GXTdescribe(2)">尚未添加描述</span>
                                </div>
                            </div>
                            <div ng-show="GXT.describeNum===2">
                                <button type="button" class="btn btn-tea" data-dismiss="modal" id="btn1" style=" margin-top: 10px; width: 97%;" ng-click="InsertReferChartDesc()" ng-show="!GetReferChartDescList.Id">
                                    提交
                                </button>
                                <button type="button" class="btn btn-tea" data-dismiss="modal" id="btn1" style=" margin-top: 10px; width: 97%;" ng-click="UpdateReferChartDesc()" ng-show="GetReferChartDescList.Id">
                                    更新
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
        <div class="UtteranceExtraction">
            <div class="row project_titel mb15">
                <div class="left"></div>
                <div class="center">话语抽取</div>
                <div class="right"></div>
            </div>
            <div style="color: #099; text-align: center; margin-bottom: 50px;" ng-show="AddMMSTShow==5">
                <div style="margin-top:70px; margin-bottom:20px; font-size: 23px; font-weight: 600;">
                    <i class="fa fa-exclamation-triangle Modal_color mr15"></i>您尚未创建实体映射关系！
                </div>
                <p>本功能需要您从您创建的实体树中选择需要进行话语抽取的命名实体。</p>
                <p>如果您还未创建命名实体 <a href="">点击</a>创建命名实体。</p>
                <button type="button" class="btn btn-tea" data-dismiss="modal" id="btn1" ng-click="AddMMSTFun(1)">
                    创建实体映射
                </button>
            </div>
            <div class="AddMMSTCard" ng-show="AddMMSTShow==1">
                <div class="row pl20 pr20">
                    <div style="width: 47%; float: left;">
                        <div class="cizu_list">
                            <div class="cizu ">命名实体库</div>
                            <div class="ci_list" style="height:300px;overflow-y:auto">
                                <div class="EntityTreeList">
                                    <div ng-repeat="x in EntityList track by x.Id">
                                        <div class="entitylistCard  pl20">
                                            <div class="title">
                                                <input type="checkbox"style="cursor:pointer"ng-click="AddMMSTListFun(x)">
                                                <i class="fa fa-caret-down xianshiXQ" onclick="$(this).parent('.title').parent('.entitylistCard').siblings('.entitylistCardChorden').hide(); $(this).hide(); $(this).siblings('.fa-caret-right').show();"><span>{{x.Entity.Key}}</span></i>
                                                <i class="fa fa-caret-right xianshiXQ" onclick="$(this).parent('.title').parent('.entitylistCard').siblings('.entitylistCardChorden').show(); $(this).hide(); $(this).siblings('.fa-caret-down').show();" style="display:none"><span>{{x.Entity.Key}}</span></i>
                                                <i class="fa fa-drivers-license xianshiXQ" ng-click="ShowCardFun(x.Id)"></i>
                                            </div>
                                            <div class="NriCard" ng-show="ShowCardId==x.Id">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <img ng-src="{{x.PicUrl}}" ng-show="x.PicUrl" />
                                                        <img src="Scripts/app/images/uploadpic.jpg" ng-show="!x.PicUrl" />
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <div class="caozuoMSC">
                                                           <i class="fa fa-times-circle xianshiXQ" ng-click="ShowCardFun('')"></i>
                                                        </div>
                                                        <span>主称：</span><span style="color: #099;">{{x.Entity.Key}}</span>
                                                        <div class="titleFu">
                                                            <span>别称：</span><span ng-repeat="z in  x.Entity.Varients track by $index">{{z}}；</span>
                                                        </div>
                                                        <div class="shuxingS">
                                                            <div ng-repeat="y in x.Attributes">
                                                                <span>{{y.Name}}</span>：<span>{{y.Key}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="entitylistCardChorden ml20">
                                            <div class="EntityTreeList">
                                                <div ng-repeat="a in x.Children track by a.Id">
                                                    <div class="entitylistCard  pl20 mt5 mb5">
                                                        <div class="title" style="font-size:14px;">
                                                            <input type="checkbox" style="cursor:pointer" ng-click="AddMMSTListFun(a)">
                                                            <i class="fa fa-caret-down xianshiXQ" onclick="$(this).parent('.title').parent('.entitylistCard').siblings('.entitylistCardChorden').hide(); $(this).hide(); $(this).siblings('.fa-caret-right').show();"><span>{{a.Entity.Key}}</span></i>
                                                            <i class="fa fa-caret-right xianshiXQ" onclick="$(this).parent('.title').parent('.entitylistCard').siblings('.entitylistCardChorden').show(); $(this).hide(); $(this).siblings('.fa-caret-down').show();" style="display:none"><span>{{a.Entity.Key}}</span></i>
                                                            <i class="fa fa-drivers-license xianshiXQ" ng-click="ShowCardFun(a.Id)"></i>
                                                        </div>
                                                        <div class="NriCard" ng-show="ShowCardId==a.Id">
                                                            <div class="row">
                                                                <div class="col-sm-4">
                                                                    <img ng-src="{{a.PicUrl}}" ng-show="a.PicUrl" />
                                                                    <img src="Scripts/app/images/uploadpic.jpg" ng-show="!a.PicUrl" />
                                                                </div>
                                                                <div class="col-sm-8">
                                                                    <div class="caozuoMSC">
                                                                    <i class="fa fa-times-circle xianshiXQ" ng-click="ShowCardFun('')"></i>
                                                                    </div>
                                                                    <span>主称：</span><span style="color: #099;">{{a.Entity.Key}}</span>
                                                                    <div class="titleFu">
                                                                        <span>别称：</span><span ng-repeat="b in  a.Entity.Varients track by $index">{{b}}；</span>
                                                                    </div>
                                                                    <div class="shuxingS">
                                                                        <div ng-repeat="c in a.Attributes">
                                                                            <span>{{c.Name}}</span>：<span>{{c.Key}}</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="entitylistCardChorden ml20">
                                                        <div class="entitylistCardChorden ml20">
                                                            <div class="EntityTreeList">
                                                                <div ng-repeat="aa in a.Children track by aa.Id">
                                                                    <div class="entitylistCard  pl20 mt5 mb5">
                                                                        <div class="title" style="font-size:14px;">
                                                                            <input type="checkbox" style="cursor:pointer" ng-click="AddMMSTListFun(aa)">
                                                                            <i class="fa fa-caret-down xianshiXQ" onclick="$(this).parent('.title').parent('.entitylistCard').siblings('.entitylistCardChorden').hide(); $(this).hide(); $(this).siblings('.fa-caret-right').show();"><span>{{aa.Entity.Key}}</span></i>
                                                                            <i class="fa fa-caret-right xianshiXQ" onclick="$(this).parent('.title').parent('.entitylistCard').siblings('.entitylistCardChorden').show(); $(this).hide(); $(this).siblings('.fa-caret-down').show();" style="display:none"><span>{{aa.Entity.Key}}</span></i>
                                                                            <i class="fa fa-drivers-license xianshiXQ" ng-click="ShowCardFun(aa.Id)"></i>
                                                                        </div>
                                                                        <div class="NriCard" ng-show="ShowCardId==aa.Id">
                                                                            <div class="row">
                                                                                <div class="col-sm-4">
                                                                                    <img ng-src="{{aa.PicUrl}}" ng-show="aa.PicUrl" />
                                                                                    <img src="Scripts/app/images/uploadpic.jpg" ng-show="!aa.PicUrl" />
                                                                                </div>
                                                                                <div class="col-sm-8">
                                                                                    <div class="caozuoMSC">
                                                                                      <i class="fa fa-times-circle xianshiXQ" ng-click="ShowCardFun('')"></i>
                                                                                    </div>
                                                                                    <span>主称：</span><span style="color: #099;">{{aa.Entity.Key}}</span>
                                                                                    <div class="titleFu">
                                                                                        <span>别称：</span><span ng-repeat="bb in  aa.Entity.Varients track by $index">{{bb}}；</span>
                                                                                    </div>
                                                                                    <div class="shuxingS">
                                                                                        <div ng-repeat="cc in aa.Attributes">
                                                                                            <span>{{cc.Name}}</span>：<span>{{cc.Key}}</span>

                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="entitylistCardChorden ml20">
                                                                        <div class="entitylistCardChorden ml20">
                                                                            <div class="EntityTreeList">
                                                                                <div ng-repeat="aaa in aa.Children track by aaa.Id">
                                                                                    <div class="entitylistCard  pl20 mt5 mb5">
                                                                                        <div class="title" style="font-size:14px;">
                                                                                            <input type="checkbox" style="cursor:pointer" ng-click="AddMMSTListFun(aaa)">
                                                                                            <i class="fa fa-caret-down xianshiXQ" onclick="$(this).parent('.title').parent('.entitylistCard').siblings('.entitylistCardChorden').hide(); $(this).hide(); $(this).siblings('.fa-caret-right').show();"><span>{{aaa.Entity.Key}}</span></i>
                                                                                            <i class="fa fa-caret-right xianshiXQ" onclick="$(this).parent('.title').parent('.entitylistCard').siblings('.entitylistCardChorden').show(); $(this).hide(); $(this).siblings('.fa-caret-down').show();" style="display:none"><span>{{aaa.Entity.Key}}</span></i>
                                                                                            <i class="fa fa-drivers-license xianshiXQ" ng-click="ShowCardFun(aaa.Id)"></i>
                                                                                        </div>
                                                                                        <div class="NriCard" ng-show="ShowCardId==aaa.Id">
                                                                                            <div class="row">
                                                                                                <div class="col-sm-4">
                                                                                                    <img ng-src="{{aaa.PicUrl}}" ng-show="aaa.PicUrl" />
                                                                                                    <img src="Scripts/app/images/uploadpic.jpg" ng-show="!aaa.PicUrl" />
                                                                                                </div>
                                                                                                <div class="col-sm-8">
                                                                                                    <div class="caozuoMSC">
                                                                                                      <i class="fa fa-times-circle xianshiXQ" ng-click="ShowCardFun('')"></i>
                                                                                                    </div>
                                                                                                    <span>主称：</span><span style="color: #099;">{{aaa.Entity.Key}}</span>
                                                                                                    <div class="titleFu">
                                                                                                        <span>别称：</span><span ng-repeat="bbb in  aaa.Entity.Varients track by $index">{{bbb}}；</span>
                                                                                                    </div>
                                                                                                    <div class="shuxingS">
                                                                                                        <div ng-repeat="ccc in aaa.Attributes">
                                                                                                            <span>{{ccc.Name}}</span>：<span>{{ccc.Key}}</span>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="entitylistCardChorden ml20">
                                                                                        <div class="entitylistCardChorden ml20">
                                                                                            <div class="EntityTreeList">
                                                                                                <div ng-repeat="aaaa in aaa.Children track by aaaa.Id">
                                                                                                    <div class="entitylistCard  pl20 mt5 mb5">
                                                                                                        <div class="title" style="font-size:14px;">
                                                                                                            <input type="checkbox" style="cursor:pointer" ng-click="AddMMSTListFun(aaaa)">
                                                                                                            <span> {{aaaa.Entity.Key}}</span>  <i class="fa fa-drivers-license xianshiXQ" ng-click="ShowCardFun(aaaa.Id)"></i>
                                                                                                        </div>
                                                                                                        <div class="NriCard" ng-show="ShowCardId==aaaa.Id">
                                                                                                            <div class="row">
                                                                                                                <div class="col-sm-4">
                                                                                                                    <img ng-src="{{aaaa.PicUrl}}" ng-show="aaaa.PicUrl" />
                                                                                                                    <img src="Scripts/app/images/uploadpic.jpg" ng-show="!aaaa.PicUrl" />
                                                                                                                </div>
                                                                                                                <div class="col-sm-8">
                                                                                                                    <div class="caozuoMSC">
                                                                                                                       <i class="fa fa-times-circle xianshiXQ" ng-click="ShowCardFun('')"></i>
                                                                                                                    </div>
                                                                                                                    <span>主称：</span><span style="color: #099;">{{aaaa.Entity.Key}}</span>
                                                                                                                    <div class="titleFu">
                                                                                                                        <span>别称：</span><span ng-repeat="bbbb in  aaaa.Entity.Varients track by $index">{{bbbb}}；</span>
                                                                                                                    </div>
                                                                                                                    <div class="shuxingS">
                                                                                                                        <div ng-repeat="cccc in aaaa.Attributes">
                                                                                                                            <span>{{cccc.Name}}</span>：<span>{{cccc.Key}}</span>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="centerBut">
                        <span> <i class="fa fa-angle-right"></i></span><br />
                        <span> <i class="fa fa-angle-left"></i></span><br />
                    </div>
                    <div style="width: 47%; float: left;" >
                        <div class="cizu_list">
                            <div class="cizu ">已选命名实体</div>
                            <div class="ci_list" style="height:300px;overflow-y:auto">
                                <div class="entitylistCardChorden ">
                                    <div class="EntityTreeList">
                                        <div ng-repeat="z in AddedList track by z.Id">
                                            <div class="entitylistCard  pl20 mt5 mb5">
                                                <div class="title" style="font-size:14px;">
                                                    <span> {{z.Entity.Key}}</span> <i class="fa fa-remove xianshiXQ" ng-click="AddMMSTListFun(z)"></i>  <!--<i class="fa fa-drivers-license xianshiXQ" ng-click="ShowCardFun(z.Id+'cc')"></i>-->
                                                </div>
                                                <div class="NriCard" ng-show="ShowCardId==z.Id+'cc'">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <img ng-src="{{z.PicUrl}}" ng-show="z.PicUrl" />
                                                            <img src="Scripts/app/images/uploadpic.jpg" ng-show="!z.PicUrl" />
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <div class="caozuoMSC">
                                                                <i class="fa fa-times-circle xianshiXQ" ng-click="ShowCardFun('')"></i>
                                                            </div>
                                                            <span>主称：</span><span style="color: #099;">{{z.Entity.Key}}</span>
                                                            <div class="titleFu">
                                                                <span>别称：</span><span ng-repeat="cc in z.Entity.Varients track by $index">{{cc}}；</span>
                                                            </div>
                                                            <div class="shuxingS">
                                                                <div ng-repeat="dd in z.Attributes">
                                                                    <span>{{dd.Name}}</span>：<span>{{dd.Key}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-show="AddedList.length>0"><hr /></div>
                                        <div ng-repeat="z in GetEntityMappingList track by z.Id">
                                            <div class="entitylistCard  pl20 mt5 mb5">
                                                <div class="title" style="font-size:14px;">
                                                    <span>{{z.EntityName}}</span> <i class="fa fa-remove xianshiXQ" ng-click="DelEntityMapping(z.Id)"></i> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align:center" class="mt20">
                    <button type="button" class="btn btn-tea mr20" style="width:12%" data-dismiss="modal" ng-click="InsertEntityMapping()">
                        创建映射
                    </button>
                    <button type="button" class="btn btn-cancle" style="width:12%" data-dismiss="modal" ng-click="AddMMSTFun(0)">
                        取消
                    </button>
                </div>

            </div>
            <div class="AddMMSTLoding" ng-show="AddMMSTShow==4">
                <div>
                    话语提取中，请稍稍等候...
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{baifenbi_x|number:2}}" aria-valuemin="0" aria-valuemax="100" ng-style="myObj">
                        {{baifenbi_x|number:2}}%
                    </div>
                </div>
            </div>
            <div ng-show="AddMMSTShow==3">
                <div style="text-align:right"class="pr10">
                    <button type="button" class="btn btn-tea mr20" style="width:12%" data-dismiss="modal" ng-click="changeEntity()">
                        修改映射实体
                    </button>
                </div>
                <div class="wordCard" ng-repeat="x in TextExtractByEntityList">
                    <div class=" row">
                        <div class="col-lg-3 WCleft">
                            <div class="row">
                                <div class="col-sm-5">
                                    <img ng-src="{{x.Entity.PicUrl}}" ng-show="x.Entity.PicUrl" />
                                    <!--<img src="Scripts/app/images/uploadpic.jpg" ng-show="!x.PicUrl" />-->
                                    <img src="Scripts/app/images/LiuTuchi.jpg" ng-show="!x.Entity.PicUrl" />
                                </div>
                                <div class="col-sm-7 pr0">
                                    <div class="titleH">
                                        <span class="THzhu">主称：</span><span>{{x.Entity.Entity.Key}}</span><br />
                                        <span class="THzhu">别称：</span><span ng-repeat="z in x.Entity.Entity.Varients">{{z}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="titleM">
                                <span ng-repeat="y in x.Entity.Attributes"><span class="THzhu">{{y.Name}}：</span><span>{{y.Key}}</span><br /></span>
                            </div>
                        </div>
                        <div class="col-lg-9 WCright">
                            <div class="Extractions " ng-repeat="cc in x.Text">
                                <p class="mb5">
                                    {{cc.Content}}
                                </p>
                                <p style=" text-align: right;">
                                    <a style="text-align:right" ng-href="{{cc.Url}}">
                                        ——{{cc.Title}}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-panel-footer" ng-mouseenter="$root.change_model(1090,0,'rizhi/WC_share_9')">
        <div ng-include="'Scripts/app/views/common/c_menu2.html'"></div>
        <div ng-include="'Scripts/app/views/common/footer-content.html'" ng-show="num==90"></div>
    </div>
</div>