<div class="main-panel">
    <div class="main-panel-title" style="color: #808080; ">
        <span class="main-panel-text active">关键词搜索分析</span>
        <a href="" title=""><i class="fa fa-minus"></i></a>
        <a href="" title=""><i class="fa fa-refresh" ng-click=""></i></a>
       
    </div>
    <div class="main-panel-content" style="min-height: 410px;position:relative">
        <div style="height:10px;">
            <div style="position:absolute;right:15px;top:0px;font-size:18px;color:#777;cursor:pointer" data-toggle="collapse" data-target="#mybox2">
                <i class="fa fa-gear"></i>
            </div>
        </div>
        <div class="collapse" id="mybox2">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6 pr10">
                        <div class="form-group mb10">
                            <label for="exampleInputEmail1" class="mb10">添加停用词</label>
                            <input type="email" class="form-control" id="InsertStopWordInput" placeholder="请输入排除词，多个以“；”隔开" >
                        </div>
                        <div class="buttonPC">
                            <button class="btn btn-tea" type="button" ng-click="InsertStopWord()">
                                添加
                            </button>
                            <button class="btn btn-default" type="button" ng-click="NoInsertStopWord()">
                                取消
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-6 pl10">
                        <div class="form-group pb0 mb0" >
                            <label for="exampleInputEmail1" class="mb10">已停用</label>
                            <div class="Ydeled">
                                <span class="keywordModal" ng-repeat="x in GetStopWordList track by $index">
                                    <a href="" onmouseover="$(this).children('i').show()" onmouseout="$(this).children('i').hide()">
                                        {{x}}
                                        <i ng-click="DelStopWord(x)" style="display: none;" class="fa fa-close"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt5">
            <div class="col-sm-3">
                <div>
                    <div style="width: 200px; height:340px;" id="WC_WordFrequencyM"></div>
                </div>
            </div>
            <div class="col-sm-3">
                <div>
                    <div style="width: 200px; height:340px;" id="WC_WordFrequencyD"></div>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <h4 style="font-weight:700;margin-top:5px;">关键词权重图</h4>
                    <div id="WC_wordcloud1" class="wordcloud" style="overflow:hidden;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-panel-footer" ng-mouseenter="$root.change_model(1013,0,'rizhi/WC_share_2')">
        <div ng-include="'Scripts/app/views/common/c_menu2.html'"></div>
        <div ng-include="'Scripts/app/views/common/footer-content.html'" ng-show="num==13"></div>
    </div>
</div>