<div class="main-panel">
    <div class="main-panel-title" style="color: #808080;">
        <span class="main-panel-text active"style=" cursor: pointer">搜索连接信息</span>
        <a href="" title=""><i class="fa fa-minus"></i></a>
        <a href="" title=""><i class="fa fa-refresh"></i></a>
    </div>
    <div class="main-panel-content" style="min-height:300px;max-height:none;">
        <span ng-repeat="z in resultList | filter:BaiduLevelLinks">
            <div class="baidu-cards">
                <div class="baidu-cards-title">
                    <a href={{z.LinkUrl}} target="_blank">
                        {{z.Title.length>50? ((z.Title | limitTo:50)+"...") : z.Title }}
                    </a><!--<em>保定市</em>-->
                    <!--<span style="color:#808080; font-size:10px;" ng-hide="z.PublishTime == null||z.PublishTime ==''">——{{z.PublishTime}}</span>-->
                    <a href="" class="collection">
                        <i class="fa  fa-share-square-o"></i>&nbsp;<i ng-click="SetLinkStatus(z._id,'save')" id={{z._id}} class="fa" ng-class="{true: 'fa-star', false: 'fa-star-o'}[z.DataCleanStatus==1]"></i>&nbsp;<i class="fa fa-trash-o" ng-click="SetLinkStatus(z._id,'delete')"></i>
                    </a>

                </div>
                <div class="baidu-cards-abstract" data-toggle="tooltip" data-placement="top"
                     title={{z.Description}}>
                    <span class="baidu-cards-title-time">
                        <!--{{z.CreatedAt| date:'yyyy-MM-dd'}} --->
                        {{z.PublishTime| date:'yyyy-MM-dd'}}
                    </span>{{z.Description.length>150? ((z.Description | limitTo:150)+"...") : z.Description }}
                </div>
                <div class="baidu-cards-footer">
                    <a href="" class="domain">{{z.Domain}}</a>
                    <span class="domain-v" ng-show="z.BaiduVStar==1"
                          style="background-position: -888px -185px;"></span>
                    <span class="domain-v" ng-show="z.BaiduVStar==2"
                          style="background-position: -910px -185px;"></span>
                    <span class="domain-v" ng-show="z.BaiduVStar==3"
                          style="background-position: -932px -185px;"></span>

                    <a ng-show="z.IsMarket" href="" class=""> - 推广</a>

                    <!--<span> - <a href="" class="baidu-cards-title-time">74%-好评</a></span>-->
                </div>
            </div>
        </span>

        <div class="row text-right pr20">
            <pagination boundary-links="true" class="pagination-sm" total-items="BaiduCount"
                        items-per-page="pagesize2" ng-change="GetBaiduLevelLinks2()" ng-model="data.page2"
                        max-size="5" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                        last-text="&raquo;">
            </pagination>
        </div>
    </div>
    <div class="main-panel-footer" ng-mouseenter="$root.change_model(1017,0,'rizhi/WC_share_5')">
        <div ng-include="'Scripts/app/views/common/c_menu2.html'"></div>
        <div ng-include="'Scripts/app/views/common/footer-content.html'" ng-show="num==17"></div>
    </div>
</div>