<div id="LocalStyle">
    <div id="header_z">
        <div class="Mbannel Lposr home" style="height:450px;">
            <div class="mask" style="display: none;"></div>
            <ul class="bannelslides">
                <li class="bannelitem bannelitem-1 animated active_c_h">
                    <div class="img" style="background-image: url(&quot;Scripts/app/images/Handled/chang_1.jpg&quot;);"></div>
                </li>
            </ul>
            <div class="bannelopacity Lposa"></div>
            <div class="bannelgradient Lposa">
            </div>
            <ul class="banneltiplist Lposa">
                <li class="banneltip-1 banneltip animated active_c_m mt20"style="width: 600px; margin-left: -303.5px;">
                    <div class="card_h_c">
                        <div class="h_c_h">
                            <span class="h_left"></span>
                            <span class="h_center"style=" letter-spacing: 7px;">塔什库尔干和喀什</span>
                            <span class="h_rignt"></span>
                        </div>
                        <div class="h_c_s">
                            坐落于帕米尔高原腹地的城堡与传说中丝绸之路的哨所基地
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style=" margin-bottom: 70px;">
        <div class="Mhkhdesc Cwrap">
            <div class="inner Ltac">
                <h3 class="title mb15 mt10">喀什古城</h3>
                <p class="desc">古老的喀什曾是传说中丝绸之路的哨所基地，依然保持着那传奇和时空上的静止气氛。周边地区给每个人都留下了一份礼物。<br />
                人们可以徒步通过世界上最原始最美丽的风景区，亲身感受当地充满着无限活力的巴扎市场的景观、喧闹和气味</p>
            </div>
        </div>
        <div class="Mhkhrights Cwrap Ltac">
            <div class="inner">
              
                <div class="teseCard">
                    <div class="row">
                        <div class="col-sm-6 left">
                            <img src="Scripts/app/images/Handled/xiao_5.jpg" style="width:100%;height:300px;" />
                        </div>
                        <div class="col-sm-6 right">
                            <h3 class="title pb0">世界屋脊</h3>
                            <div class="nei">
                                <p>当你通过喀喇昆仑高速公路离开喀什，进而迈入帕米尔山脉时，你将会被眼前的景色所震撼。白雪皑皑的山峰和奇石异形的山脉与通往塔什库尔干的山脉相连。路途中的每一个拐角处都向人们展示着不同的绮丽景色。</p> <br />
                                <p>帕米尔山脉的最高峰是公格尔山，海拔 7,719米。 该地区的其它高峰有公格尔九别峰，海拔7,595 米，慕士塔格峰，海拔7,546米。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Mhkhrights Cwrap Ltac">
            <div class="inner">
             
                <div class="teseCard">
                    <div class="row">
                        <div class="col-sm-6 right"style="border-right:1px solid #ccc;height:300px;">
                            <h3 class="title pb5 pt15 mb20">塔什库尔干历史</h3>
                            <div class="nei">
                                <p class="mb15"> 塔什库尔干即“石头城”的意思，其历史十分悠久。其地理位置在丝绸之路的一个分支上，曾有着一定的战略意义。通过塔什库尔干，有很多通道，南通明塔格通道通往印度次大陆；西通现今的阿富汗和塔吉克斯坦地区。据说，古时的马可波罗和中国名僧玄奘法师曾经到访于此。</p> 
                                <p>在县城郊北，有着保存完好的古石头城遗址。石头城独特的地理位置和建筑机构使其易守难攻，因此在历史上有着十分重要的价值意义。以塔什库尔干为坐标，可以一览帕米尔山脉的浩瀚全景。从塔什库尔干向北看，可以看到慕士塔格峰。日出是每天比较特殊的时刻，五颜六色的光线映射在城堡周围不同的山峰上， 色彩斑斓，奇妙无比。</p>
                            </div>
                        </div>
                        <div class="col-sm-6 left"style="border:0;">
                            <img src="Scripts/app/images/Handled/xiao_1.jpg" style="width:100%;height:300px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    <div style="background-color: #f5f5f5; margin-bottom: 70px;">
        <div class="Mhkhdesc Cwrap">
            <div class="inner Ltac">
                <h3 class="title mb15 mt10">塔什库尔干</h3>
                <p class="desc">
                    塔什库尔干是一个坐落于帕米尔高原腹地的城堡。几个世纪以来，古老的石头城一直屹立在塔什库尔干鸟瞰着这座城堡和周围绮丽的景色。<br />
                    就是在这片美丽崎岖的土地上，汇聚了冒险家和一般探险旅行者丰富的活动足迹。
                </p>
            </div>
        </div>
        <div class="Mhkhrights Cwrap Ltac">
            <div class="inner">

                <div class="teseCard">
                    <div class="row">
                    
                        <div class="col-sm-6 left">
                            <img src="Scripts/app/images/Handled/xiao_4.jpg" style="width:100%;height:300px;" />
                        </div>
                        <div class="col-sm-6 right">
                            <h3 class="title pb0" style="margin-top: 24px;">沙丘经历：卡拉苏</h3>
                            <div class="nei">
                                <p>到塔克拉玛干沙漠（世界上第二大流砂沙漠）去探险。爬到那高高的沙丘之上，纵观那瑞士探险家斯文·赫定到访此处时所看到的相同景色。您还可以徒步或骑上一匹双峰骆驼，享受一天的旅程或者在帐篷里野外露营。真实经历维吾尔特色绿洲。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Mhkhrights Cwrap Ltac">
            <div class="inner">

                <div class="teseCard">
                    <div class="row">
                        <div class="col-sm-6 right" style="border-right:1px solid #ccc;height:300px;">
                            <h3 class="title pb5 mb20">从沙漠到冰川：奥依塔格冰川</h3>
                            <div class="nei">
                                <p class="mb15"> 开车通过炎热的沙漠后，徒步一天到达一座冰川。在到达冰川的路上会经过草原茂盛的绿色牧场和一片松林。游客将会在大自然奇妙的作品之中共享午餐。</p>
                                <p>亲临大量的各类水果、坚果、饰品、饰品配件、 纺织品和传统服饰等，实现每位购物者的梦想。</p>
                            </div>
                        </div>
                        <div class="col-sm-6 left" style="border:0;">
                            <img src="Scripts/app/images/Handled/xiao_6.jpg" style="width:100%;height:300px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>