<!DOCTYPE html>
<html data-ng-app="myApp">
<head>
    <script type="text/javascript">
        function browserRedirect() {
            var sUserAgent = navigator.userAgent.toLowerCase();
            var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
            var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
            var bIsMidp = sUserAgent.match(/midp/i) == "midp";
            var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
            var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
            var bIsAndroid = sUserAgent.match(/android/i) == "android";
            var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
            var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
            if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
                window.location.href = "http://m.dataweco.com/";
            } else {
               
            }
        }
        browserRedirect();
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>DLCloud</title>
    @*<link type="image/x-icon" href="Scripts/app/images/favicon.png" rel="shortcut icon" />*@
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Scripts/app/styles/css/loading-bar.css" rel="stylesheet" />
    <link href="~/Scripts/app/styles/css/semantic.min.css" rel="stylesheet" />
    <link href="~/Scripts/app/styles/css/theme-style.css" rel="stylesheet" />
    <link href="~/Scripts/app/styles/css/newStyle.css" rel="stylesheet" />
    <link href="~/Scripts/app/styles/css/nowMain.css" rel="stylesheet" />
    @*<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>*@
    <script src="~/Scripts/app/scripts/plu-in/jquery.min.js"></script>
    <link href="~/Scripts/app/scripts/plu-in/zTree_v3/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <link href="~/Scripts/app/styles/css/addStyle.css" rel="stylesheet" />
    <link href="~/Scripts/app/styles/css/Home_New.css" rel="stylesheet" />
    <link href="~/Scripts/app/styles/css/animate.css" rel="stylesheet" />
    <script src="http://open.web.meitu.com/sources/xiuxiu.js" type="text/javascript"></script>
</head>
<body> 
    @RenderBody()
    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>  
    <script src="http://cdn.bootcss.com/jqueryui/1.11.4/jquery-ui.js"></script>
    <script src="http://cdn.bootcss.com/angular.js/1.4.9/angular.min.js"></script>
    <script src="http://cdn.bootcss.com/angular.js/1.4.9/angular-cookies.min.js"></script>
    <script src="http://cdn.bootcss.com/angular-messages/1.4.9/angular-messages.min.js"></script>
    <script src="http://cdn.bootcss.com/angular-ui-router/0.2.14/angular-ui-router.min.js"></script>
    <script src="http://cdn.bootcss.com/angular-loading-bar/0.8.0/loading-bar.min.js"></script>
    <script src="http://cdn.bootcss.com/angular.js/1.4.9/angular-animate.min.js"></script>
    <script src="http://cdn.bootcss.com/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="~/Scripts/app/scripts/plu-in/angular-dragdrop.min.js"></script>
    <script src="http://cdn.bootcss.com/d3/3.5.16/d3.min.js"></script>
    <script src="~/Scripts/app/scripts/plu-in/semantic.min.js"></script>
    @*<script src="~/Scripts/app/scripts/plu-in/echarts.min.js"></script>*@
    <script src="http://cdn.bootcss.com/echarts/3.4.0/echarts.min.js"></script>
    <script src="http://cdn.bootcss.com/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>
    <script src="~/Scripts/app/scripts/plu-in/china.js"></script>
    <script src="~/Scripts/app/scripts/plu-in/world.js"></script>
    <script src="~/Scripts/app/scripts/plu-in/countUp.min.js"></script>
    <script src="~/Scripts/app/scripts/plu-in/lobipanel.min.js"></script>
    <script src="~/Scripts/app/scripts/plu-in/jquery.goup.js"></script>

    <script src="~/Scripts/App.js"></script>
    <script src="~/Scripts/app/scripts/controllers/home/home_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/home/login_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/home/reset_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/iw2s_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/home/signup_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/home/changepwd_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/modelSelect_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/rizhi_ctr.js"></script>

    <!--service-->
    <script src="~/Scripts/app/scripts/Service/localStorage.js"></script>
    <!--发现-->
    <script src="~/Scripts/app/scripts/controllers/DiscoveryPage_ctr.js"></script>
    <!--keywords-->
    <script src="~/Scripts/app/scripts/controllers/keywords/keywordMng_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/keywords/keywordViews_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/keywords/linkCollection_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/keywords/keywordConstrast_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/keywords/showDesc_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/keywords/iw2s_dashboard_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/keywords/iw2s_domaincategory_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/keywords/baidu_share_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/keywords/baidu_share_2_ctr.js"></script>
    <!--bing-->
    <script src="~/Scripts/app/scripts/controllers/bing/Bing_dashboard_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/bing/Bing_domaincategory_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/bing/Bing_keywordConstrast_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/bing/Bing_keywordMng_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/bing/Bing_keywordViews_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/bing/Bing_linkCollection_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/bing/Bing_showDesc_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/bing/iw2s_bing_ctr.js"></script>


    <!--google-->
    <script src="~/Scripts/app/scripts/controllers/google/Dnl_Google_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/google/Google_dashboard_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/google/Google_domaincategory_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/google/Google_keywordConstrast_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/google/Google_keywordMng_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/google/Google_keywordViews_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/google/Google_linkCollection_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/google/Google_showDesc_ctr.js"></script>

    <!--modal-->
    <script src="~/Scripts/app/scripts/modal/addGroupModal_ctr.js"></script>
    <script src="~/Scripts/app/scripts/modal/addElementGroup_ctr.js"></script>
    <script src="~/Scripts/app/scripts/modal/addElementGroupEMN_ctr.js"></script>
    <script src="~/Scripts/app/scripts/modal/addElementGroupSogou_ctr.js"></script>
    <script src="~/Scripts/app/scripts/modal/addElementGroupSogouNEW_ctr.js"></script>
    <script src="~/Scripts/app/scripts/modal/addElementGroupWeibo_ctr.js"></script>
    <script src="~/Scripts/app/scripts/modal/addkeywordFilterZhisou_ctr.js"></script>
    <script src="~/Scripts/app/scripts/modal/addkeywordFilterBaidu_ctr.js"></script>
    <script src="~/Scripts/app/scripts/modal/addkeywordFiltersogou_ctr.js"></script>
    <script src="~/Scripts/app/scripts/modal/addProject_ctr.js"></script>
    <script src="~/Scripts/app/scripts/modal/changeProject_ctr.js"></script>
    <script src="~/Scripts/app/scripts/modal/delProject_ctr.js"></script>
    <script src="~/Scripts/app/scripts/modal/inputKeywords_ctr.js"></script>
    <script src="~/Scripts/app/scripts/modal/shareProject_ctr.js"></script>
    <script src="~/Scripts/app/scripts/modal/saveChart_ctr.js"></script>
    <script src="~/Scripts/app/scripts/modal/getChart_ctr.js"></script>
    <script src="~/Scripts/app/scripts/modal/addProjectGroup_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/Dashboard/modal/payPage_ctr.js"></script>
    <script src="~/Scripts/app/scripts/modal/WC_addElementGroup_ctr.js"></script>

    <!--eMarketNow-->
    <script src="~/Scripts/app/scripts/controllers/eMarketNow/iw2s_eMarketNow_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/eMarketNow/eMarketNow_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/eMarketNow/eMarketNowMng_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/eMarketNow/eMarketNowDashboard_ctr.js"></script>
    <!--weixin-->
    <script src="~/Scripts/app/scripts/controllers/sogou/iw2s_sogou_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/sogou/sogouShowDesc_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/sogou/sogouMng_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/sogou/sogouViews_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/sogou/sogouConstrast_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/sogou/sogouDashboard_ctr.js"></script>
    <!--以图搜图-->
    <script src="~/Scripts/app/scripts/controllers/picSearch/picSearch_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/picSearch/picSearch_ShowDesc_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/picSearch/picSearch_sr_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/picSearch/picSearch_result_ctr.js"></script>
    <!--weibo-->
    <script src="~/Scripts/app/scripts/controllers/weibo/weibo_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/weibo/weiboDashboard_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/weibo/weiboShowDesc_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/weibo/weiboConstrast_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/weibo/weiboMng_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/weibo/weiboViews_ctr.js"></script>
    <!--sougou-->

    <script src="~/Scripts/app/scripts/controllers/SogouNEW/iw2s_sogouNEW_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/SogouNEW/sogouNEWConstrast_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/SogouNEW/sogouNEWMng_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/SogouNEW/sogouNEWShowDesc_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/SogouNEW/sogouNEWViews_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/SogouNEW/sogouNEWDashboard_ctr.js"></script>

    <!--googol-->
    <script src="~/Scripts/app/scripts/controllers/googol/googol_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/googol/googol_ShowDesc_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/wordtree/wordtree_ctr.js"></script>


    <!--后台管理-->
    <script src="~/Scripts/app/scripts/controllers/BackstageManagement/computingResources_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/BackstageManagement/UserManage_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/BackstageManagement/SalesManagement_ctr.js"></script>

    <!--zTree插件-->
    <script src="~/Scripts/app/scripts/plu-in/zTree_v3/jquery.ztree.all-3.5.js"></script>

    <!--文字权重图-->
    <script src="~/Scripts/app/scripts/plu-in/jquery.awesomeCloud-0.2.js"></script>
    <!--新首页-->
    <script src="~/Scripts/app/scripts/controllers/Home_New/Home_New_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/Home_New/mian/main_1_ctr.js"></script>
    <!--用户中心-->
    <script src="~/Scripts/app/views/UserCenter/UserCenter_ctr.js"></script>
    <script src="~/Scripts/publish_ctr.js"></script>
    <script src="~/Scripts/app/views/UserCenter/PurchaseService_ctr.js"></script>

    <!--新版后台-->
    <script src="~/Scripts/app/scripts/controllers/Dashboard/Dashboard_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/Dashboard/Report/Report_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/Dashboard/Report/ReportContents_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/Dashboard/Report/ReportList_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/Dashboard/Report/addReport_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/Dashboard/Report/shareReportHeader_ctr.js"></script>
    <!--添加图片弹框-->
    <script src="~/Scripts/app/scripts/controllers/Dashboard/modal/addPicture_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/Dashboard/modal/shareReport_ctr.js"></script>
    <!--数据分析-->
    <script src="~/Scripts/app/scripts/controllers/Dashboard/DataAnalysis/DataAnalysis_ctr.js"></script>
    <!--项目组-->
    <script src="~/Scripts/app/scripts/controllers/Dashboard/projectGroup/PGDashboard_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/Dashboard/projectGroup/ProjectGroupList_ctr.js"></script>

    <!--新版后台-Modal-->
    <script src="~/Scripts/app/scripts/controllers/Dashboard/modal/SelectKws_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/Dashboard/modal/getKWSArticle_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/Dashboard/modal/getShareArticle_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/Dashboard/modal/GetGZHInfo_ctr.js"></script>
    <!--微信-->
    <script src="~/Scripts/app/scripts/controllers/Dashboard/WeChat/WeChat_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/Dashboard/WeChat/WC_domaincategory_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/Dashboard/WeChat/WC_dashboard_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/Dashboard/WeChat/WC_keywordConstrast_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/Dashboard/WeChat/WC_keywordMng_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/Dashboard/WeChat/WC_keywordViews_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/Dashboard/WeChat/WC_linkCollection_ctr.js"></script>
    <script src="~/Scripts/app/scripts/controllers/Dashboard/WeChat/WC_showDesc_ctr.js"></script>

    <!--邮箱验证-->
    <script src="~/Scripts/app/scripts/controllers/Dashboard/Verification/Verification_ctr.js"></script>






    @RenderSection("scripts", required: false)

</body>
</html>
