.cizu_list {
  border: 1px dashed #ccc    ;
  min-height: 30px;
  border-radius: 5px;
  background-color: #f7f7f7;
  padding: 10px;
  margin-bottom: 15px;
}
.cizu_list .cizu {
  border-bottom: 1px solid #ccc;
  font-size: 15px;
  font-weight: 600;
  color: #009999;
}
.cizu_list .ci_list {
  padding: 7px 0px 0;
  margin: 0 -3px;
}
.cizu_list .ci_list .ciNei {
  display: inline-block;
  background-color: #ffffff;
  color: #808080;
  padding: 2px 10px 1px;
  margin: 2px 3px;
  border-radius: 20px;
  cursor: pointer;
}
.cizu_list .ci_list .ciNei:hover {
  background-color: #099;
  color: #fff;
}
.centerBut {
  width: 6%;
  float: left;
  text-align: center;
  padding-top: 50px;
}
.centerBut span {
  display: inline-block;
  width: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.centerBut span:hover {
  background-color: #099;
  color: #fff;
  border: 1px solid #099;
}
.UtteranceExtraction {
  min-height: 300px;
}
.UtteranceExtraction .project_titel .center {
  color: #757575;
  border: 1px solid #b9b9b9;
  border-radius: 7px;
  padding: 9px;
  width: 16%;
}
.UtteranceExtraction .project_titel .left {
  margin: 19px 11px;
  background: -webkit-linear-gradient(left, #ecf0f1, #b9b9b9);
  background: -o-linear-gradient(right, #ecf0f1, #b9b9b9);
  background: -moz-linear-gradient(right, #ecf0f1, #b9b9b9);
  background: linear-gradient(to right, #ecf0f1, #b9b9b9);
}
.UtteranceExtraction .project_titel .right {
  margin: 19px 11px;
  background: -webkit-linear-gradient(left, #b9b9b9, #ecf0f1);
  background: -o-linear-gradient(right, #b9b9b9, #ecf0f1);
  background: -moz-linear-gradient(right, #b9b9b9, #ecf0f1);
  background: linear-gradient(to right, #b9b9b9, #ecf0f1);
}
.AddMMSTCard {
  padding: 40px;
}
.AddMMSTCard .cizu_list .cizu {
  padding-bottom: 5px;
}
.AddMMSTCard .centerBut {
  padding-top: 120px;
}
.AddMMSTCard .centerBut span {
  margin-top: 15px;
  height: 26px;
  line-height: 24px;
  font-size: 18px;
}
.AddMMSTLoding {
  padding: 82px 70px 70px;
}
.AddMMSTCard .EntityTreeList .entitylistCard span {
  font-size: 14px;
}
.payPage {
  padding: 0;
  position: relative;
}
.payPage .close_but {
  position: absolute;
  right: 20px;
  top: 16px;
  color: #888;
  cursor: pointer;
  z-index: 2;
  font-size: 18px;
}
.payPage .close_but i:hover {
  cursor: pointer;
  color: #158681;
}
.payPage .left {
  height: 300px;
  background-color: #ececec;
  border-radius: 5px 0 0 5px;
}
.payPage .left h3 {
  border-bottom: 0;
  margin-top: 30px;
  margin-left: 20px;
  font-weight: 600;
  color: #888;
}
.payPage .left h2 {
  color: #099;
  margin-left: 14px;
  font-size: 36px;
  margin-top: 80px;
}
.payPage .left p {
  margin-left: 28px;
  margin-top: 30px;
  color: #777;
}
.payPage .right {
  text-align: center;
}
.payPage .right img {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 120px;
}
.payPage .right p {
  color: #666;
  font-size: 15px;
}
#PurchaseService .channel .attestExample .ser-time .applyCon-btn {
  width: 190px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  margin: 0px auto 50px!important;
}
.wangGuanX2 h4 {
  margin-bottom: 5px;
  color: #2f7373;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 600;
}
.wangGuanX2 p span {
  font-weight: 600;
  color: #147171;
}
.wangGuanX2 .SLcard {
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px;
  background-color: #f7f7f7;
  box-shadow: 1px 1px 3px #ccc;
}
.wangGuanX2 .SLcard h4 {
  margin-top: 0px;
}
.wangGuanX2 .SLcard div {
  border: 1px dashed #ccc;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
  text-align: justify;
}
.wangGuanX2 .SLcard div span {
  font-weight: 500;
  color: #555;
}
.shareTab {
  margin-bottom: 15px;
  background-color: #fff;
  box-shadow: 1px 1px 4px #ccc;
}
.shareTab ol li {
  margin: 0;
  display: inline-block;
  font-size: 18px;
  color: #666;
  padding: 20px 20px 16px 24px;
  cursor: pointer;
}
.shareTab ol li:hover {
  border-bottom: 2px solid #099;
  color: #099;
}
.shareTab ol .active {
  border-bottom: 2px solid #099;
  color: #099;
}
.mainBut_i {
  color: #666;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}
.mainBut_i:hover {
  color: #158681;
}
.GXTdescribe {
  text-align: right;
  padding-right: 10px;
}
.GXTdescribe i {
  font-size: 20px;
  color: #777;
  cursor: pointer;
  margin-right: 5px;
}
.GXTdescribe i:hover {
  color: #099;
}
.GXTdescribe .describeCard {
  text-align: left;
  background-color: #f3f3f3;
  padding: 15px;
  box-shadow: 2px 2px 5px #ccc;
  border-radius: 5px;
  color: #444;
}
.GXTdescribe .describeCard h3 {
  border-bottom: 1px solid #009999;
}
.GXTdescribe .describeCard p {
  text-indent: 2em;
}
.WebRelationsSelect {
  border-bottom: 1px solid #b2b2b2;
  width: 187px;
  margin-left: 5px;
  padding: 5px 5px 4px 5px;
  margin-bottom: 5px;
}
.WebRelationsSelect a {
  color: #888;
  font-size: 14px;
  font-weight: 600;
  margin-right: 10px;
  cursor: pointer;
}
.WebRelationsSelect .active {
  color: #099;
}
#AnalysisZ {
  margin-bottom: -10px;
}
#AnalysisZ .top_change {
  margin-left: 0px;
}
#caseInquiry .panel {
  border: 0;
  border-radius: 0px;
}
#caseInquiry .panel {
  padding: 0;
}
#caseInquiry .panel .tubiao_1 {
  border-top: 1px solid #ccc;
  padding: 20px 10%;
}
#caseInquiry .panel label {
  margin: 0;
  padding: 0;
}
#caseInquiry .row {
  margin: 0;
}
#caseInquiry .form-control {
  z-index: 1;
}
#caseInquiry .glyphicon {
  top: 0;
  background-color: #4D7BB6;
  color: #FFF;
  border-color: #4D7BB6;
  width: 38px;
  height: 34px;
  float: left;
}
#caseInquiry .clearBtn {
  right: 5px;
  z-index: 1;
}
#caseInquiry .hide-file {
  opacity: 0;
  height: 0px;
  width: 10px;
}
#caseInquiry .header {
  background-color: #fff;
  height: 70px;
  padding: 17px 20px 17px 25px;
  position: relative;
  box-shadow: 0px 0px 0px #ccc;
  border-top: 1px solid #ccc;
}
#caseInquiry .header h3 {
  font-size: 14px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0px;
  margin: 0;
}
#caseInquiry .row {
  background-color: #FFF;
}
#caseInquiry .row.no-background {
  background-color: transparent;
}
#caseInquiry #dropdownMenu1:hover {
  background-color: #F4F6F4 !important;
  color: #AEB0B0;
}
#caseInquiry .input-group-filter {
  width: 185px;
}
#caseInquiry .input-group-filter .module-filter-text {
  width: 146px;
  border-radius: 0 6px 6px 0;
}
#caseInquiry #mod-container {
  margin-right: -1%;
}
#caseInquiry .module-container-box {
  margin-right: -30px;
}
#caseInquiry .module-container {
  background-color: #FFF;
  /* max-width: 262px; */
  width: 49%;
  /* min-width: 244px; */
  height: 130px;
  margin-right: 1%;
  margin-bottom: 10px;
  position: relative;
  box-shadow: 0px 2px 4px #ccc;
  border-radius: 5px;
}
#caseInquiry .module-container-header h4 {
  color: #A1A2A2;
  font-size: 20px;
  text-indent: 6px;
}
#caseInquiry .module-name {
  float: left;
  height: 78px;
  font-size: 16px;
  /*text-indent: 63px;*/
  text-indent: 30px;
  line-height: 78px;
}
#caseInquiry .module-icon {
  width: 20px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  color: #C9C9CA;
  margin-right: 16px;
  display: inline-block;
  float: right;
}
#caseInquiry .row-border-top {
  border-top: 1px solid #E8E8E7;
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 36px;
  bottom: 0;
}
#caseInquiry .row-border-top .module-describe {
  font-weight: normal;
  padding: 0 20px 0 30px;
  color: #868684;
  height: 36px;
  line-height: 36px;
}
#caseInquiry .module-name-box .module-describe {
  position: absolute;
  left: 30px;
  bottom: 42px;
  color: #868684;
}
#caseInquiry .btn-module-btn {
  float: right;
  margin-right: 25px;
  margin-left: -10px;
  width: 16px;
  height: 78px;
  line-height: 30px;
  color: #6B90CA;
}
#caseInquiry .module-added {
  float: right;
  width: 41px;
  height: 16px;
  margin-right: 20px;
  margin-left: -10px;
  /*background: url(Scripts/app_pc/images/module-added.png) center center no-repeat;*/
  /*right: 6px;*/
  padding: 0;
  display: none;
  position: relative;
  top: 32px;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  background-color: #818181;
  border-radius: 2px;
  text-align: center;
}
#caseInquiry .btn-detail {
  cursor: pointer;
}
#caseInquiry .btn-remove {
  display: none;
  background: url(Scripts/app_pc/images/module-remove.png) center center no-repeat;
}
#caseInquiry .btn-add {
  display: none;
  background: url(Scripts/app_pc/images/module-add.png) center center no-repeat;
}
#caseInquiry .btn-delete {
  display: none;
  background: url(Scripts/app_pc/images/module-del.png) center center no-repeat;
}
#caseInquiry .btn-edit {
  display: none;
  background: url(Scripts/app_pc/images/module-modify.png) center center no-repeat;
}
#caseInquiry .module-added.active,
#caseInquiry #module .btn-add.active,
#caseInquiry #module .btn-delete.active,
#caseInquiry #module .added .btn-remove.active,
#caseInquiry #module .btn-edit.active {
  display: block;
}
#caseInquiry .custom {
  position: relative;
  min-height: 450px;
}
#caseInquiry .custom .btn-delete {
  color: #C33B26;
}
#caseInquiry .panel-header > table {
  width: 74%;
}
#caseInquiry table {
  max-width: 100%;
  background-color: transparent;
}
#caseInquiry table {
  border-collapse: collapse;
  border-spacing: 0;
}
#caseInquiry tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
#caseInquiry .panel-header > table th {
  text-align: center;
  border-right: solid 1px #cccccc;
  border-bottom: solid 0px #cccccc;
  font-size: 14px;
  padding: 24px 0;
  position: relative;
  width: 20%;
}
#caseInquiry .panel-header > table th a {
  cursor: pointer;
  display: block;
  color: #81867c;
  font-weight: normal;
}
#caseInquiry .panel-header > table th.active .topselect {
  width: 100%;
  height: 0;
  border: 2px solid #099;
  position: absolute;
  top: 0;
}
#caseInquiry .panel-header > table {
  width: 83.3%;
}
#caseInquiry .panel-header > table th {
  padding: 20px 0;
}
#caseInquiry .panel-header > table th.active a {
  color: #009999 !important;
}
#caseInquiry .module-store-filter {
  height: 70px;
}
#caseInquiry .header {
  background-color: #fff;
  height: 55px;
  padding: 10px 20px 10px 25px;
  position: relative;
  box-shadow: 0px 0px 0px #ccc;
}
#caseInquiry .btn_xl {
  border-right: 0px;
  background-color: #4f83c3;
  border: 1px solid #4f83c3;
  COLOR: #FFF;
}
#caseInquiry .form-group {
  margin-bottom: 0px!important;
}
#caseInquiry #detailsTable {
  border-top: 1px solid #ccc;
  position: relative;
}
#caseInquiry #detailsTable .fanhui {
  position: absolute;
  right: 0px;
  background-color: rgba(152, 152, 152, 0.57);
  width: 100px;
  height: 35px;
  top: 20px;
  color: #fff3f3;
  text-align: center;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#caseInquiry #detailsTable .fanhui:hover {
  background-color: #099;
}
#caseInquiry #detailsTable .isLoading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1000;
  line-height: 44px;
}
#caseInquiry .isLoading {
  text-align: center;
  font-size: 14px;
  color: #666666;
}
#caseInquiry .isLoading images {
  margin-right: 10px;
  margin-left: -10px;
  width: 20px;
}
#caseInquiry images {
  vertical-align: middle;
}
#caseInquiry images {
  border: 0;
}
#caseInquiry #detailsTable table {
  border-bottom: solid 1px #ddd;
}
#caseInquiry .table {
  width: 100%;
  margin-bottom: 20px;
}
#caseInquiry table {
  max-width: 100%;
  background-color: transparent;
}
#caseInquiry table {
  border-collapse: collapse;
  border-spacing: 0;
}
#caseInquiry .table > thead > tr > th {
  font-weight: normal;
  border-bottom: 1px solid #ddd;
}
#caseInquiry .table > thead > tr > th,
#caseInquiry #detailsTable .table > tbody > tr > th,
#caseInquiry #detailsTable .table > tfoot > tr > th,
#caseInquiry #detailsTable .table > thead > tr > td,
#caseInquiry #detailsTable .table > tbody > tr > td,
#caseInquiry #detailsTable .table > tfoot > tr > td {
  padding: 12px;
  border-top: none;
  color: #858585;
  font-size: 13px;
}
#caseInquiry .moreUpAndDown {
  border-top: 1px solid #ccc;
  color: #8aa422;
  display: block;
  font-size: 14px;
  padding: 20px 0px;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
}
#caseInquiry .moreUpAndDown .left_xs {
  padding: 20px 0px;
  border-right: 1px solid #ccc;
}
#caseInquiry .moreUpAndDown .left_xs:hover i {
  color: #099!important;
}
#caseInquiry .moreUpAndDown .right_xs {
  padding: 20px 0px;
}
#caseInquiry .moreUpAndDown .right_xs:hover i {
  color: #099!important;
}
#caseInquiry .moreUpAndDown_2 {
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  color: #8aa422;
  display: block;
  font-size: 14px;
  padding: 15px 0;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
}
#caseInquiry .moreUpAndDown_2:hover i {
  color: #099!important;
}
#caseInquiry .active_moreUpAndDown {
  background-color: #f5f5f5;
}
#caseInquiry .active_moreUpAndDown i {
  color: #099!important;
}
#caseInquiry .btn-group,
#caseInquiry .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
#caseInquiry .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
#caseInquiry .btn-group > .btn-custom-default:first-child {
  border-left: none;
}
#caseInquiry .btn-group > .btn:first-child {
  margin-left: 0;
}
#caseInquiry .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}
#caseInquiry .btn-group .btn + .btn,
#caseInquiry .btn-group .btn + .btn-group,
#caseInquiry .btn-group .btn-group + .btn,
#caseInquiry .btn-group .btn-group + .btn-group {
  margin-left: -1px;
}
#caseInquiry .btn-group > .btn,
#caseInquiry .btn-group-vertical > .btn {
  position: relative;
  float: left;
}
#caseInquiry .btn-custom-default {
  background-color: #e7eaef;
  border-left: solid 1px #c7cad0;
  color: #7f838a;
}
#caseInquiry .btn-custom-default:hover,
#caseInquiry .btn-custom-default:active,
#caseInquiry .btn-custom-default.active {
  background-color: #4d7bb6;
  border-left: solid 1px #4d7bb6;
  color: white;
}
#caseInquiry .tundui_n {
  width: 80%;
  border: 1px solid #cecece;
  border-radius: 3px;
  background-color: #fff;
  z-index: 3;
  position: absolute;
  top: 48px;
  padding: 12px 20px 20px;
  box-shadow: 0px 2px 4px #ccc;
}
#caseInquiry .tundui_n .bumentitle {
  padding: 5px;
  font-size: 18px;
  color: #099;
}
#caseInquiry .tundui_n .close_1 {
  color: #a2a2a2;
  font-size: 20px;
  float: right;
  cursor: pointer;
  margin: -6px;
}
#caseInquiry .tundui_n .close_1:hover {
  color: #099;
}
#caseInquiry .tundui_n .dange_w {
  margin-top: 10px;
}
#caseInquiry .tundui_n .dange_w span {
  display: inline-block;
  border-right: 1px solid #ccc;
  padding-right: 10px;
  padding-left: 5px;
  margin: 3px 0px;
  height: 17px;
  line-height: 15px;
  cursor: pointer;
}
#caseInquiry .tundui_n .dange_w span:hover {
  color: #099;
}
#caseInquiry .tundui_n .dange_w .active {
  color: #099;
  font-weight: 600;
}
#caseInquiry .i_top {
  font-size: 36px;
  position: absolute;
  top: -25px;
  background-color: #fff;
  color: #8e8e8e;
}
#caseInquiry .i_top_1 {
  left: 13px;
}
#caseInquiry .i_top_2 {
  left: 80px;
}
#caseInquiry .i_top_3 {
  left: 162px;
}
#caseInquiry .i_top_4 {
  left: 242px;
}
#caseInquiry .i_top_5 {
  left: 323px;
}
#caseInquiry .i_top_6 {
  left: 405px;
}
#caseInquiry #detailsTable .table > tbody > tr > td,
#caseInquiry #detailsTable .table > tfoot > tr > td {
  padding: 12px 5px;
  border-top: none;
  color: #858585;
  font-size: 13px;
}
#caseInquiry .table > thead > tr > th {
  padding: 12px 5px;
  border-top: none;
  color: #858585;
  font-size: 13px;
}
.but_down {
  border-right: 10px !important;
  border: 1px solid #ababab !important;
  border-radius: 5px !important;
  background-color: #fff !important;
  color: #444 !important;
}
#addCase {
  background-color: #fff;
  box-shadow: 1px 2px 4px #ccc;
}
#addCase .row {
  margin: 0px;
  padding: 0px;
}
#addCase .wrapper {
  padding: 70px 50px 50px;
}
#addCase .input-group-addon {
  width: 50px;
  color: #fff;
  background-color: #4f83c3;
  cursor: pointer;
  border: 1px solid #4f83c3;
}
#addCase .input-group-addon:hover {
  background-color: #466a96;
  border: 1px solid  #466a96;
}
#addCase .case_card_s {
  border: 1px dashed #ccc;
  border-radius: 5px;
  margin-right: 5px;
  background: #eaeaea;
  padding: 10px;
}
#addCase .case_name {
  text-align: center;
  font-size: 18px;
  color: #607d8b;
  margin: 10px;
}
#addCase .neirmg_s {
  font-size: 14px;
  margin: 10px;
}
#addCase .neirmg_s span {
  color: #607d8b;
}
#addCase .pingding {
  color: #555;
}
#addCase .pingixng {
  margin: 20px 0 15px;
}
#addCase .pingixng i {
  cursor: pointer;
}
#addCase .pingixng .fa-star {
  color: #ef9203;
}
#addCase .queiding {
  text-align: center;
  margin-top: 25px;
}
#addCase .queiding input {
  padding: 5px 30px;
  font-size: 16px;
  margin: 10px 5px 0;
}
.but_g {
  text-align: center;
}
.but_g input {
  margin: 5px;
}
.but_g .btn-tea {
  background-color: #009999;
  color: #fff;
}
.but_g .btn-tea:hover {
  background-color: #158681;
}
.but_g .btn-hui:hover {
  background-color: #b5b5b5;
}
.ZombieCase_card {
  box-shadow: 1px 2px 4px #ccc;
  height: 140px;
  display: inline-block;
  width: 100%;
}
.ZombieCase_card .nei_r {
  background-color: #fff;
  width: 100%;
  height: 140px;
  padding-left: 142px;
}
.ZombieCase_card .nei_r .ban_top {
  height: 105px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-left: 15px;
}
.ZombieCase_card .nei_r .ban_top .anjian_m {
  height: 30px;
  line-height: 30px;
  padding-top: 5px;
  font-size: 16px;
  color: #212121;
}
.ZombieCase_card .nei_r .ban_top .anjian_m .aj_left {
  display: inline-block;
  font-size: 17px;
  cursor: pointer;
}
.ZombieCase_card .nei_r .ban_top .anjian_m .aj_left:hover {
  color: #607d8b;
}
.ZombieCase_card .nei_r .ban_top .anjian_m .aj_rignt {
  display: inline-block;
  float: right;
  padding-right: 13px;
}
.ZombieCase_card .nei_r .ban_top .anjian_m .aj_rignt i {
  color: #777;
  font-size: 18px;
  cursor: pointer;
  margin-left: 3px;
}
.ZombieCase_card .nei_r .ban_top .anjian_m .aj_rignt i:hover {
  color: #009999;
}
.ZombieCase_card .nei_r .ban_top .anhao {
  color: #8e8e8e;
  margin-top: 3px;
}
.ZombieCase_card .nei_r .ban_top .anhao i {
  font-size: 13px;
  color: #8fb300;
  margin-right: 5px;
}
.ZombieCase_card .nei_r .ban_top .miaoshu {
  margin-top: 10px;
  font-size: 13px;
  color: #656565;
  line-height: 19px;
  word-wrap: break-word;
  word-break: break-all;
  padding-right: 10px;
}
.ZombieCase_card .nei_r .ban_top .miaoshu span {
  margin-right: 10px;
}
.ZombieCase_card .nei_r .ban_bottom {
  height: 35px;
  width: 100%;
  margin: 0px;
}
.ZombieCase_card .nei_r .ban_bottom .b_left {
  height: 35px;
  line-height: 35px;
  border-right: 1px solid #ccc;
  display: inline-block;
  text-align: center;
  color: #607d8b;
  font-weight: 600;
  font-size: 15px;
}
.ZombieCase_card .nei_r .ban_bottom .b_center {
  height: 35px;
  line-height: 35px;
  border-right: 1px solid #ccc;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  color: #696969;
}
.ZombieCase_card .nei_r .ban_bottom .b_center span {
  color: #e87630;
  font-weight: 600;
}
.ZombieCase_card .nei_r .ban_bottom .b_right {
  height: 35px;
  line-height: 35px;
  display: inline-block;
  text-align: center;
  background: #458282;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}
.ZombieCase_card .img_div {
  position: absolute;
  width: 142px;
  height: 140px;
  background-color: #dcdcdc;
  z-index: 2;
  text-align: center;
  padding-top: 15px;
}
.ZombieCase_card .img_div .wenzi_t {
  font-size: 22px;
  color: #009999;
  background: #cecece;
  height: 110px;
  width: 110px;
  border-radius: 76px;
  padding: 46px 0px;
  text-align: center;
  display: inline-block;
  border: 2px solid #fff;
  font-weight: 500;
  cursor: pointer;
}
.orderListTitle {
  border: 1px solid #ccc;
}
.orderListTitle div {
  width: 140px;
  background-color: #099;
  color: #fff;
  padding: 8px 20px;
  font-size: 15px;
}
