<?xml version="1.0" encoding="utf-8"?>
<configuration>



  <appSettings>
    <add key="IPProviders" value="http://www.httpdaili.cn:8081/query?dingdanhao=968250730946773&amp;num=50&amp;type=%E9%AB%98%E5%8C%BF&amp;area=&amp;xianlu=all&amp;repeat=false&amp;command_check=false&amp;Encoding=gbk&amp;selectall=true&amp;excludePorts=8088&amp;provider_name=dalibao1&amp;ip_sp=&amp;port_sp=&amp;intervals=100000$;"/>
    <add key="commonsMySqlCon" value="server=119.254.101.56;user id=root;password=Touch1225;port=3386;persistsecurityinfo=True;database=iprseefree"/>

    <add key="mongoCon" value="mongodb://seedbo:SfNLP1225@211.154.6.146:28117/orectoryperdb" />
    <add key="mongoDB" value="orectoryperdb" />


  </appSettings>





<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
