
	
	<script src="Scripts/app/view/plu_in/muban_1/js/modernizr-2.6.2.min.js"></script>
    <div id="index_in">

    <div id="fh5co-wrapper">
        <div id="fh5co-page">
            <div id="fh5co-work-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box"style="margin-bottom:30px;">
                            <h3>皇冠酒店为您提供优质商旅服务</h3>
                            <p>请您尽情地享用塔什库尔干和本酒店为您提供的一切。本酒店有很多满意客户享受到了我们热情专业的服务、上乘的美味和舒适的客房环境！</p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 pr10">
                            <div class="fh5co-grid animate-box" style="background-image: url(Scripts/app/images/xuan_picture/bg2.JPG);">
                                <a class="image-popup text-center">
                                    <div class="prod-title">
                                        <h3>小标题</h3>
                                        <span>文字说明文字说明文字说明文字说明文字说明文字说明</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 pl5">
                            <div class="fh5co-grid animate-box" style="background-image: url(Scripts/app/images/xuan_picture/bg21.JPG);">
                                <a class="image-popup text-center">
                                    <div class="prod-title">
                                        <h3>小标题</h3>
                                        <span>文字说明文字说明文字说明文字说明文字说明文字说明</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 pr10">
                            <div class="fh5co-grid animate-box" style="background-image: url(Scripts/app/images/xuan_picture/bg42.JPG);">
                                <a class="image-popup text-center">
                                    <div class="prod-title">
                                        <h3>小标题</h3>
                                        <span>文字说明文字说明文字说明文字说明文字说明文字说明</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8 pl5">
                            <div class="fh5co-grid animate-box" style="background-image: url(Scripts/app/images/xuan_picture/bg23.JPG);">
                                <a class="image-popup text-center">
                                    <div class="prod-title">
                                        <h3>小标题</h3>
                                        <span>文字说明文字说明文字说明文字说明文字说明文字说明</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- fh5co-work-section -->
            <div id="fh5co-services-section" class="fh5co-section-gray" style="padding: 5em 0 3em;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box" style="margin-bottom:50px;">
                            <h3>特色服务</h3>
                            <p class="mb20">本酒可根据您的需求提供一些特色定制服务，您可将您的需求告诉我们的前台，我们将极尽所能满足您的需求</p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row text-center">
                        <div class="col-md-4 col-sm-4">
                            <div class="services animate-box">
                                <span><img src="Scripts/app/images/Icon_home/IconHome_0002_PrivatePanquet.png.png" alt="Alternate Text" style="width: 85px; padding-right: 8px;"/></span>
                                <h3>包场宴会</h3>
                                <p class="nei_p">本酒店提供包场宴会，并可根据客户的需求提供定制服务。生日宴会，公司酒宴，大型旅行团活动等等我们都可以接下，为您提供你想要的一切服务。我们坚持，只要您需要，就竭尽所能提供。</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="services animate-box">
                                <span><img src="Scripts/app/images/Icon_home/IconHome_0000_TourPlanning.png.png" alt="Alternate Text" style="width: 85px; padding-top: 15px;" /></span>
                                <h3>提供导游或旅游规划</h3>
                                <p class="nei_p">无论您想到新疆什么地方，还是想雇辆车进行一日游，或是要开辆货车进行为期一周的探险旅程，我们都可以为您安排。我们的导游会说英语、维吾尔语和汉语，无论您想做些什么，都是畅通无阻。</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="services animate-box">
                                <span><img src="Scripts/app/images/Icon_home/IconHome_0005_Hike.png.png" alt="Alternate Text" style="width: 75px; padding-top: 7px;" /></span>
                                <h3>徒步旅行与登山服务</h3>
                                <p class="nei_p">我们可根据您的需求制定不同的塔克拉玛干徒步之旅，范围涉及帕米尔、喀喇昆仑和昆仑山以及天山山脉。您将目睹帕米尔高原的柯尔克孜族牧业文化，享受塔克拉玛干沙漠松软沙土上的徒步旅行。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- fh5co-services-section -->
            <div id="fh5co-content-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box" style="margin-bottom:50px;">
                            <h3>同感共享</h3>
                            <p>本酒店有很多满意客户享受到了我们热情专业的服务、上乘的美味和舒适的客房环境。请不要听我们如何诉说塔什库尔干的美妙绝伦，且看我们的顾客有何说法吧！</p>
                        </div>
                    </div>
                </div>
                <div class="container" style="margin-top:25px;">
                    <div class="row  animate-box">
                        <div class="col-md-1" style="text-align:center">
                            <i class="fa fa-angle-left change_pl" ng-click="chang_plcards(false)"></i>
                        </div>
                        <div class="col-md-10 " ng-show="card_plshow==1">
                            <div class="fh5co-testimonial text-center ">
                                <figure>
                                    <img src="Scripts/app/view/plu_in/muban_1/images/user-1.jpg" alt="user">
                                </figure>
                                <blockquote>
                                    <p class="nei_p" style=" font-size: 20px;">“皇冠酒店的餐厅安排了和一家最亲切最热情的塔吉克族家庭的聚餐，棒极了。他们跳起了塔吉克族的传统舞蹈---鹰之舞，尽管我们模仿的没有那么好看，但内中一些比较喜爱运动的人还是跟着跳了起来。对于和我一样的都市人来讲，这绝对是一生中的美好经历。”</p>
                                </blockquote>
                                <span>艾 尼戈（2007年6月）</span>
                            </div>
                        </div>
                        <div class="col-md-10 " ng-show="card_plshow==2">
                            <div class="fh5co-testimonial text-center ">
                                <figure>
                                    <img src="Scripts/app/images/Handled/xiao_5.jpg" alt="user">
                                </figure>
                                <blockquote>
                                    <p class="nei_p"style=" font-size: 20px;">“皇冠酒店的餐厅的地理位置很独特，它在世界上最著名的山脉的怀抱里。在餐厅的房顶看日出简直是太棒了。饭菜很好吃，房间里也很舒适。我们很乐意住在这里。”</p>
                                </blockquote>
                                <span>埃尔 艾姆（2007年10月）</span>
                            </div>
                        </div>
                        <div class="col-md-10 " ng-show="card_plshow==3">
                            <div class="fh5co-testimonial text-center ">
                                <figure>
                                    <img src="Scripts/app/images/Handled/xiao_3.jpg" alt="user">
                                </figure>
                                <blockquote>
                                    <p class="nei_p" style=" font-size: 20px;">“这里的美景好似中国版的新西兰，太美了。塔吉克族和维吾尔族的文化和服饰真是太迷人了。”</p>
                                </blockquote>
                                <span>卡斯林 托（2006年11月）</span>
                            </div>
                        </div>
                        <div class="col-md-1" style="text-align:center">
                            <i class="fa fa-angle-right change_pl" ng-click="chang_plcards(true)"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- fh5co-content-section -->
            <div id="fh5co-blog-section" class="fh5co-section-gray" style="padding: 5em 0 3em;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                            <h3>房间介绍</h3>
                            <p >睡在我们设计的单人床或大号床上，保证您睡个好觉。每天更换新棉被套等用品，24小时供应热水和室内茶水和咖啡，为您的丝路之旅提供独一无二的舒适环境。</p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="fh5co-blog animate-box">
                                <a><img class="img-responsive" src="Scripts/app/images/hotal/hotal_2.jpeg" alt=""></a>
                                <div class="image-popup">
                                    <div class="prod-title">
                                        <h3><a>标准间</a></h3>
                                        <p class="nei_p">
                                            • 大号床或者两张单人床 <br />
                                            • 室内洗手间含沐浴隔间，24小时热水淋浴，国际品牌洗漱用品 <br />
                                            • 室内免费咖啡和茶水
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="fh5co-blog animate-box">
                                <a><img class="img-responsive" src="Scripts/app/images/hotal/hotal_1.jpg" alt=""></a>
                                <div class="image-popup">
                                    <div class="prod-title">
                                        <h3><a>套间</a></h3>
                                        <p class="nei_p">
                                            • 客厅和卧室各一。卧室内置一大号床 <br />
                                            • 室内洗手间内置浴缸，24小时热水淋浴，国际品牌洗漱用品 <br />
                                            • 室内免费咖啡和茶水
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="fh5co-blog animate-box">
                                <a><img class="img-responsive" src="Scripts/app/images/hotal/hotal_3.jpg" alt=""></a>
                                <div class="image-popup">
                                    <div class="prod-title">
                                        <h3><a>加床多人间</a></h3>
                                        <p class="nei_p">
                                            • 可在标准件或套间中加一张单人床 <br />
                                            • 室内洗手间内置浴缸，24小时热水淋浴，国际品牌洗漱用品 <br />
                                            • 室内免费咖啡和茶水
                                        </p>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- fh5co-blog-section -->
           
        </div>
        <!-- END fh5co-page -->
    </div>
    <!-- END fh5co-wrapper -->
</div>
	<!-- jQuery Easing -->
	<script src="Scripts/app/view/plu_in/muban_1/js/jquery.easing.1.3.js"></script>
	<!-- Waypoints -->
	<script src="Scripts/app/view/plu_in/muban_1/js/jquery.waypoints.min.js"></script>
	<!-- Stellar -->
	<script src="Scripts/app/view/plu_in/muban_1/js/jquery.stellar.min.js"></script>
	<!-- Superfish -->
	<script src="Scripts/app/view/plu_in/muban_1/js/hoverIntent.js"></script>
	<script src="Scripts/app/view/plu_in/muban_1/js/superfish.js"></script>
	<!-- Main JS (Do not remove) -->
	<script src="Scripts/app/view/plu_in/muban_1/js/main.js"></script>

