<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="commonsMySqlCon" connectionString="server=119.254.111.136;user id=root;password=Touch1225;port=3386;persistsecurityinfo=True;database=totobot" />
    <add name="iprtxtstdEntities" connectionString="metadata=res://*/EF_MySql.CustMySqlModels.csdl|res://*/EF_MySql.CustMySqlModels.ssdl|res://*/EF_MySql.CustMySqlModels.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=119.254.111.136;user id=root;password=Touch1225;persistsecurityinfo=True;port=3386;database=iprtxtstd&quot;" providerName="System.Data.EntityClient" />
    <add name="commonsMySqlEntities" connectionString="metadata=res://*/EF_MySql.Common_MySql_Model1.csdl|res://*/EF_MySql.Common_MySql_Model1.ssdl|res://*/EF_MySql.Common_MySql_Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=119.254.111.136;user id=root;password=Touch1225;port=3386;persistsecurityinfo=True;database=totobot&quot;" providerName="System.Data.EntityClient" />
    <add name="sitesecommonEntities" connectionString="metadata=res://*/Data.SiteSECommon.csdl|res://*/Data.SiteSECommon.ssdl|res://*/Data.SiteSECommon.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=119.254.101.56;user id=root;password=Touch1225;port=3386;persistsecurityinfo=True;database=sitesecommon&quot;" providerName="System.Data.EntityClient" />
    <add name="sitesecustEntities" connectionString="metadata=res://*/Data.SiteSECust.csdl|res://*/Data.SiteSECust.ssdl|res://*/Data.SiteSECust.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=119.254.101.56;user id=root;password=Touch1225;persistsecurityinfo=True;port=3386;database=sitese_toto&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="IPProviders" value="http://www.httpdaili.cn:8081/query?dingdanhao=968250730946773&amp;num=50&amp;type=%E9%AB%98%E5%8C%BF&amp;area=&amp;xianlu=all&amp;repeat=false&amp;command_check=false&amp;Encoding=gbk&amp;selectall=true&amp;excludePorts=8088&amp;provider_name=dalibao1&amp;ip_sp=&amp;port_sp=&amp;intervals=100000$;" />
    
    <!--<add key="mongoCon" value="mongodb://iprseetestdbo:iprseetest@119.254.210.251:27000/iprseetest" />
    <add key="mongoDB" value="iprseetest" />-->
    <!--<add key="mongoCon" value="mongodb://seedbo:SfNLP1225@119.254.210.251:27000/see" />
    <add key="mongoDB" value="see" />-->


    <add key="mongoCon" value="mongodb://seedbo:SfNLP1225@43.240.138.216:28117/orectoryperdb" />
    <add key="mongoDB" value="orectoryperdb" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <log4net>
    <!--错误日志配置-->
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="E:\\TxtLog\\LogError\\" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="100" />
      <param name="MaxFileSize" value="10240" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyyMMdd" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n异常时间：%d [%t] %n异常级别：%-5p %n异 常 类：%c [%x] %n%m %n " />
      </layout>
    </appender>
    <!--信息日志配置-->
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="E:\\TxtLog\\LogInfo\\" />
      <param name="AppendToFile" value="true" />
      <param name="MaxFileSize" value="10240" />
      <param name="MaxSizeRollBackups" value="100" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyyMMdd" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n日志时间：%d [%t] %n日志级别：%-5p %n日 志 类：%c [%x] %n%m %n" />
      </layout>
    </appender>
    <!--控制台-->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%5level [%thread] (%file:%line) - %message%newline" />
      </layout>
    </appender>
    <!--log4net.LogManager.GetLogger("logerror")用这个来选择这种类型-->
    <logger name="logerror">
      <level value="ERROR" />
      <appender-ref ref="ErrorAppender" />
    </logger>
    <logger name="loginfo">
      <level value="INFO" />
      <appender-ref ref="InfoAppender" />
    </logger>
    <root>
      <level value="INFO" />
      <appender-ref ref="InfoAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!--<entityFramework>
    <defaultConnectionFactory type="MySql.Data.Entity.MySqlConnectionFactory, MySql.Data.Entity.EF5" />
    -->
  <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />-->
  <!--
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider"
           invariant="MySql.Data.MySqlClient"
           description=".Net Framework Data Provider for MySQL"
           type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>