<style>
    .Mfootindex .sitemaps .typetitle {
        color: #b3975b;
    }
    .Mfootindex .sitemaps .type a {
        color: #bfbfbf;
        font-size: 12px;
        margin-bottom: 5px;
        display: inline-block;
    }
</style>

<footer id="footer_last" class="Mfootindex" style="margin-top: 0px; height: auto; ">
    <div class="sitemaps" style="box-shadow: 1px -1px 4px #ccc; background: #35332d;">
        <div class="inner Cwrap"style=" padding-top: 45px; padding-bottom: 10px;">
            <div class="box Lcfx">
                <h3 class="logo Lfll"style="width: 280px;margin-right:30px;"><img src="Scripts/app/images/iocin_p/new_logo.png"style="height:87px"> <br /> <!--<span style=" margin-top: 10px; font-size: 18px; color: #bdbdbd; display: inline-block;">塔县皇冠</span>--></h3>
                <!--<ul class="contact Lfll"style="padding: 5px 25px; width: 215px; ">
                    <li class="tel"style=" color: #9c7a33;"><strong>998-3422888 </strong></li>
                    <li class="tip"style="color: #bdbab4;"><span class="time">24</span>小时服务电话免长话费，全年无休</li>
                    <li style=" font-size: 10px; color: #e4e2de;"title='邮箱'>enquiry1@crowninnkashgar.com</li>
                </ul>-->
                <div class="qrcodewechat Lfll ml10"style=" margin-right: 40px;"><img src="http://ws-www.hantinghotels.com/hworld/NewWeb/img/qrcodewechat.jpg"><span class="tip"style=" color: #d4d0c7;">关注微信领福利</span></div><span class="split"></span>
                <dl class="service Lfll type ml10">
                    <dt class="typetitle"style="color:#b3975b">首页</dt>
                    <dd><a >特色服务</a></dd>
                    <dd><a >同感共享</a></dd>
                    <dd><a >客房介绍</a></dd>
                </dl>
                <dl class="destine Lfll type">
                    <dt class="typetitle">酒店特色</dt>
                    <dd><a >人员介绍</a></dd>
                    <dd><a >特色介绍</a></dd>
                    <dd><a >酒店地图</a></dd>
                </dl>
                <dl class="news Lfll type">
                    <dt class="typetitle">当地风情</dt>
                    <dd><a >世界屋脊</a></dd>
                    <dd><a >塔什库尔干</a></dd>
                    <dd><a >塔吉克族舞蹈</a></dd>
                    <dd><a >希普顿拱门</a></dd>
                </dl>
                <dl class="affiliate Lfll type">
                    <dt class="typetitle">同感共享</dt>
                    <dd><a>优秀分享</a></dd>
                    <dd><a>可信评价</a></dd>
                    <dd><a>我要分享</a></dd>
                </dl>
                <dl class="about Lfll type">
                    <dt class="typetitle">关于皇冠</dt>
                    <dd><a >专享住宿权益</a></dd>
                    <dd><a >专享增值服务优惠福利</a></dd>
                    <dd><a >联系我们</a></dd>
                </dl>
            </div>
        </div>

    </div>
    <div id="footer" style="padding: 15px 0 10px; background-color: #252117;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <p class="mb5" style="color:#9a9a9a;">Copyright@2016  塔什库尔干皇冠大酒店 版权所有</p>
                </div>
            </div>
        </div>
    </div>
</footer>