#modelSelect .contenMoel .repectList i {
  margin-right: 6px;
  margin-top: 6px;
  float: right;
  z-index: 10;
  position: relative;
}
#linkCollection .list-group {
  margin: 0 4px 0 4px;
}
#linkCollection .list-group a {
  padding-left: 35px;
  background-color: #fff;
}
#linkCollection .list-group a:hover {
  background-color: #009999;
  color: #fff;
}
#linkCollection .list-group .active {
  background-color: #009999;
  color: #fff;
  border: 1px solid #009999;
}
#linkCollection .list-group .heder12active {
  font-size: 14px;
  color: #fff;
  border-radius: 5px!important;
  background-color: #009999;
}
#keywordViews1 .list-group {
  margin: 0 4px 0 4px;
}
#keywordViews1 .list-group a {
  padding-left: 35px;
  background-color: #fff;
}
#keywordViews1 .list-group a:hover {
  background-color: #009999;
  color: #fff;
}
#keywordViews1 .list-group .active {
  background-color: #009999;
  color: #fff;
  border: 1px solid #009999;
}
#keywordViews1 .keywords .items label {
  color: rgba(112, 112, 112, 0.91);
  background-color: rgba(1, 56, 53, 0.11);
  float: left;
  margin: 0 1% 1% 0;
  padding: 0 20px 0 8px;
  text-decoration: none;
  font-size: 12px;
  height: 29px;
  line-height: 29px;
  overflow: hidden;
  position: relative;
  font-weight: 500;
}
#keywordViews1 .keywords .items label:hover {
  background-color: #009999;
  color: #fff;
}
#keywordViews1 .keywords .items .active {
  background-color: #009999;
  color: #fff;
  border: 1px solid #009999;
}
#header_iw2s .changeSource li {
  float: left;
  display: block;
  margin: 0 10px 5px 10px;
  color: #929292;
  padding: 3px 10px;
}
#header_iw2s .changeSource li:hover {
  color: #00b5ad;
  border-bottom: 2px solid #00b5ad;
}
#header_iw2s .changeSource .activeSource {
  color: #00b5ad;
  border-bottom: 2px solid #00b5ad;
}
#header_iw2s .changeSource .unactiveSource {
  color: #929292;
  border-bottom: 0px solid #00b5ad;
}
#linkCollection2 .list-group {
  margin: 0 4px 0 4px;
}
#linkCollection2 .list-group a {
  padding-left: 35px;
  background-color: #fff;
}
#linkCollection2 .list-group a:hover {
  background-color: #009999;
  color: #fff;
}
#linkCollection2 .list-group .active {
  background-color: #009999;
  color: #fff;
  border: 1px solid #009999;
}
#linkCollection2 .list-group .heder12active {
  font-size: 14px;
  color: #fff;
  border-radius: 5px!important;
  background-color: #009999;
}
#dec_dashboard .panel-widget {
  background: #fff;
}
#dec_dashboard .panel-blue {
  background: #30a5ff;
  color: #fff;
}
#dec_dashboard .panel-widget {
  padding: 0;
  position: relative;
}
#dec_dashboard .panel {
  border: 0;
}
#dec_dashboard .panel-blue {
  background: #009999;
  color: #fff;
}
#dec_dashboard .panel-blue {
  background: #009999;
  color: #fff;
}
#dec_dashboard .panel-orange .widget-left {
  background: #009999;
  color: #fff;
}
#dec_dashboard .panel-teal .widget-left {
  background: #009999;
  color: #fff;
}
#dec_dashboard .panel-red .widget-left {
  background: #009999;
  color: #fff;
}
#dec_dashboard .panel-blue .widget-left {
  background: #009999;
  color: #fff;
}
#dec_dashboard .widget-left {
  height: 70px;
  padding-top: 15px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#dec_dashboard .widget-right {
  text-align: left;
  line-height: 1.6em;
  margin: 0px;
  padding: 18px;
  height: 70px;
  color: #999;
  font-weight: 300;
  background: #fff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#dec_dashboard .glyphicon {
  font-size: 40px;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#dec_dashboard .large {
  font-size: 2em;
}
#dec_dashboard .widget-right .text-muted {
  color: #9fadbb;
}
#dec_dashboard .widget-right .large {
  color: #5f6468;
}
#dec_dashboard .panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 0px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
#dec_dashboard .label {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 11px;
}
#dec_dashboard .label {
  height: 18px;
  line-height: 1.15;
}
#dec_dashboard .label-success {
  background-color: #EF9A12;
}
#dec_dashboard .label {
  display: inline;
  padding: .3em .4em .3em;
  font-size: 60%;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
#dec_dashboard .panel-body {
  padding: 5px;
  border: none;
  border-radius: 0.2857rem;
  box-shadow: 0 2px 0 0 #d4d4d5,0 0 0 1px #d4d4d5;
}
#dec_dashboard .easypiechart-panel {
  text-align: center;
  padding: 1px 0;
  margin-bottom: 20px;
  color: #5f6468;
  font-weight: 500;
}
#dec_dashboard .img-circle {
  border-radius: 50%;
  border: 3px solid #009999;
  width: 111px;
  height: 111px;
  margin: 0 auto 10px auto;
  color: #009999;
}
#dec_dashboard .img-circle2 {
  margin-top: 42%;
  font-size: 27px;
  color: #5F6468;
}
#dec_dashboard .img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#dec_dashboard img {
  vertical-align: middle;
}
#dec_dashboard .text-muted1 {
  width: 80px;
  background-color: #5f6468;
  color: #9fadbb;
}
#dec_dashboard .bordershow {
  border: none;
  border-radius: 0.2857rem;
  box-shadow: 0 2px 0 0 #d4d4d5,0 0 0 1px #d4d4d5;
}
#AnalysisZ .top_change {
  margin-left: 15px;
}
#AnalysisZ .top_change a {
  color: #999!important;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 7px;
  border-left: 1px solid #B2B2B2;
}
#AnalysisZ .top_change a:hover {
  color: #009999 !important;
}
#AnalysisZ .top_change a .active {
  color: #009999 !important;
}
#AnalysisZ .top_change .active {
  color: #009999 !important;
}
#AnalysisZ .contenMoel .repectList i {
  margin-right: 6px;
  margin-top: 6px;
  float: right;
  z-index: 10;
}
#AnalysisZ .modelSelectPanel {
  height: auto;
  position: relative;
}
#AnalysisZ .modelSelectPanel .wpt {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}
#AnalysisZ .modelSelectPanel .wpt .log-row-cx .contenMoel {
  text-align: center;
  padding-bottom: 80px;
}
#AnalysisZ .modelSelectPanel .wpt .log-row-cx .contenMoel .model-box {
  margin-top: 5px;
  margin-bottom: 10px;
  height: 120px;
  width: 260px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #fff;
  text-align: center;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#AnalysisZ .modelSelectPanel .wpt .log-row-cx .contenMoel .model-box:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
#AnalysisZ .modelSelectPanel .wpt .log-row-cx .contenMoel .model-box .bg-red {
  background-color: #e84e40;
}
#AnalysisZ .modelSelectPanel .wpt .log-row-cx .contenMoel .model-box .bg-tea {
  background-color: #009688;
}
#AnalysisZ .modelSelectPanel .wpt .log-row-cx .contenMoel .model-box .bg-green {
  background-color: #8bc34a;
}
#AnalysisZ .modelSelectPanel .wpt .log-row-cx .contenMoel .model-box .bg-purple {
  background-color: #00bcd4;
}
#AnalysisZ .modelSelectPanel .wpt .log-row-cx .contenMoel .model-box .model-icon {
  width: 150px;
  height: 150px;
  font-size: 5em;
  margin: 30px auto;
  color: #fff;
  border-radius: 50%;
}
#AnalysisZ .modelSelectPanel .wpt .log-row-cx .contenMoel .model-box .model-icon i {
  margin: 35px auto;
}
#AnalysisZ .modelSelectPanel .wpt .log-row-cx .contenMoel .model-box .desc .title {
  font-size: 1.3em;
  line-height: 25px;
  height: 25px;
  padding: 0 7px;
  color: #009999 !important;
  font-family: 'Microsoft YaHei';
}
#AnalysisZ .modelSelectPanel .wpt .log-row-cx .contenMoel .model-box .desc .subTitle {
  color: rgba(112, 112, 112, 0.91);
  font-size: 1em;
}
#AnalysisZ .icnm_w {
  height: 27px;
}
#AnalysisZ .icnm_w i {
  display: none;
  cursor: pointer;
  font-size: 20px;
  color: #808080;
}
#AnalysisZ .desc {
  cursor: pointer;
  height: 63px;
  text-align: left;
  font-size: 16px;
  padding-left: 5px;
}
#AnalysisZ .desc .title_desc {
  font-size: 12px;
  color: #929292;
  padding-left: 8px;
  margin-top: 5px;
}
#AnalysisZ .describe_CA {
  font-size: 11px;
  border-top: 1px solid #b5b5b5;
  height: 30px;
  text-align: center;
  color: #929292!important;
}
#AnalysisZ .describe_CA .left {
  height: 30px;
  float: left;
  border-right: 1px solid #b5b5b5;
  width: 160px;
  line-height: 30px;
  color: #929292!important;
}
#AnalysisZ .describe_CA .right {
  height: 30px;
  line-height: 30px;
  width: 100px;
  float: right;
  color: #929292;
}
#AnalysisZ .subTitle_but {
  color: #929292;
}
#AnalysisZ .subTitle_but:hover {
  background-color: #099;
  color: #fff;
  cursor: pointer;
}
#AnalysisZ .form_AS {
  margin-top: 50px;
  font-size: 14px;
  text-align: center;
}
#AnalysisZ .form_AS .lable_fw {
  font-weight: 500;
}
#AnalysisZ .form_AS .input_s {
  max-width: 500px;
  display: inline-block;
}
#AnalysisZ .form_AS .input_sm {
  max-width: 100px;
  display: inline-block;
}
#AnalysisZ .form_AS .input_gloup {
  margin-top: 5px!important;
}
#AnalysisZ .form_AS .additems {
  display: inline-block;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
}
#AnalysisZ .form_AS .additems i {
  font-size: 17px;
  color: #009999 !important;
}
#AnalysisZ .form_AS .additems:hover {
  color: #009999;
}
#picshow .top_change {
  margin-left: 15px;
}
#picshow .top_change a {
  color: #999!important;
  padding-left: 10px;
  padding-right: 7px;
  border-left: 1px solid #B2B2B2;
  text-decoration: none;
}
#picshow .top_change a:hover {
  color: #009999 !important;
}
#picshow .top_change a .active {
  color: #009999 !important;
}
#picshow .top_change .active {
  color: #009999 !important;
}
#picshow .contenMoel .repectList i {
  margin-right: 6px;
  margin-top: 6px;
  float: right;
  z-index: 10;
}
#picshow .modelSelectPanel {
  height: auto;
  position: relative;
}
#picshow .modelSelectPanel .wpt {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}
#picshow .modelSelectPanel .wpt .log-row-cx .contenMoel {
  text-align: center;
  padding-bottom: 80px;
}
#picshow .modelSelectPanel .wpt .log-row-cx .contenMoel .model-box {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #fff;
  position: relative;
  text-align: center;
  margin-right: 20px!important;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#picshow .modelSelectPanel .wpt .log-row-cx .contenMoel .model-box:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
#picshow .modelSelectPanel .wpt .log-row-cx .contenMoel .model-box .bg-red {
  background-color: #e84e40;
}
#picshow .modelSelectPanel .wpt .log-row-cx .contenMoel .model-box .bg-tea {
  background-color: #009688;
}
#picshow .modelSelectPanel .wpt .log-row-cx .contenMoel .model-box .bg-green {
  background-color: #8bc34a;
}
#picshow .modelSelectPanel .wpt .log-row-cx .contenMoel .model-box .bg-purple {
  background-color: #00bcd4;
}
#picshow .modelSelectPanel .wpt .log-row-cx .contenMoel .model-box .model-icon {
  width: 150px;
  height: 150px;
  font-size: 5em;
  margin: 30px auto;
  color: #fff;
  border-radius: 50%;
}
#picshow .modelSelectPanel .wpt .log-row-cx .contenMoel .model-box .model-icon i {
  margin: 35px auto;
}
#picshow .modelSelectPanel .wpt .log-row-cx .contenMoel .model-box .desc .title {
  font-size: 1.3em;
  line-height: 25px;
  height: 25px;
  padding: 0 7px;
  color: #009999 !important;
  font-family: 'Microsoft YaHei';
}
#picshow .modelSelectPanel .wpt .log-row-cx .contenMoel .model-box .desc .subTitle {
  color: rgba(112, 112, 112, 0.91);
  font-size: 1em;
}
#picshow .icnm_w {
  height: 27px;
  position: absolute;
  z-index: 100;
  right: 0px;
}
#picshow .icnm_w i {
  display: none;
  cursor: pointer;
  font-size: 20px;
  color: #808080;
  float: right;
}
#picshow .desc {
  cursor: pointer;
  text-align: left;
  font-size: 16px;
}
#picshow .desc .title_desc {
  font-size: 12px;
  color: #929292;
  padding-left: 8px;
  margin-top: 5px;
}
#picshow .describe_Cb {
  border-top: 1px solid #b5b5b5;
  height: 35px;
  line-height: 14px;
  text-align: center;
  font-size: 10px;
  padding-top: 5px;
}
#picshow .describe_Cb p {
  margin: 0 0 1em;
  line-height: 0.2;
}
#picshow .describe_Cc {
  font-weight: 600;
  color: #099 !important;
  font-size: 14px;
  padding-top: 5px;
  border-top: 1px solid #b5b5b5;
  height: 30px;
  text-align: center;
  background-color: #F5F5F5;
}
#picshow .select_pic {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
  -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
}
#picshow .describe_CA {
  font-size: 11px;
  border-top: 1px solid #b5b5b5;
  height: 30px;
  text-align: center;
  color: #929292!important;
  background-color: #F5F5F5;
}
#picshow .describe_CA .left {
  height: 30px;
  float: left;
  border-right: 1px solid #b5b5b5;
  width: 60%;
  line-height: 30px;
  color: #929292!important;
}
#picshow .describe_CA .right {
  height: 30px;
  line-height: 30px;
  width: 40%;
  float: right;
  color: #929292;
}
#picshow .subTitle_but {
  color: #929292;
}
#picshow .subTitle_but:hover {
  background-color: #099;
  color: #fff;
  cursor: pointer;
}
#picshow .form_AS {
  margin-top: 50px;
  font-size: 14px;
  text-align: center;
}
#picshow .form_AS .lable_fw {
  font-weight: 500;
}
#picshow .form_AS .input_s {
  max-width: 500px;
  display: inline-block;
}
#picshow .form_AS .input_sm {
  max-width: 100px;
  display: inline-block;
}
#picshow .form_AS .input_gloup {
  margin-top: 5px!important;
}
#picshow .form_AS .additems {
  display: inline-block;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
}
#picshow .form_AS .additems i {
  font-size: 17px;
  color: #009999 !important;
}
#picshow .form_AS .additems:hover {
  color: #009999;
}
.project_head_titel {
  margin-bottom: 15px;
}
.project_head_titel .text {
  margin-left: 15px;
  float: left;
  width: 7%;
  font-size: 18px;
  color: #737373;
}
.project_head_titel .right {
  float: left;
  width: 88%;
  height: 1px;
  margin: 9px 11px;
  background: -webkit-linear-gradient(left, #a5a5a5, #ecf0f1);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #a5a5a5, #ecf0f1);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #a5a5a5, #ecf0f1);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #a5a5a5, #ecf0f1);
  /* 标准的语法（必须放在最后） */
}
.project_titel {
  margin-top: 25px;
}
.project_titel .left {
  float: left;
  width: 40%;
  height: 1px;
  margin: 9px 11px;
  background: -webkit-linear-gradient(left, #ecf0f1, #009999);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #ecf0f1, #009999);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #ecf0f1, #009999);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #ecf0f1, #009999);
  /* 标准的语法（必须放在最后） */
}
.project_titel .center {
  float: left;
  width: 14%;
  text-align: center;
  font-size: 16px;
  color: #099;
}
.project_titel .right {
  float: left;
  width: 40%;
  height: 1px;
  margin: 9px 11px;
  background: -webkit-linear-gradient(left, #009999, #ecf0f1);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #009999, #ecf0f1);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #009999, #ecf0f1);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #009999, #ecf0f1);
  /* 标准的语法（必须放在最后） */
}
.pagination {
  margin: 0 20px 20px 20px;
}
.project_meg {
  margin-top: 5px!important;
  margin-bottom: 10px!important;
  height: 170px!important;
  width: 100%!important;
  margin-left: 0px!important;
  margin-right: 0px!important;
  background-color: #fff;
}
.project_meg i {
  display: none;
  cursor: pointer!important;
  font-size: 18px!important;
  color: #808080;
}
.project_meg .desc .subTitle {
  font-size: 11px;
  margin-top: 1px;
  text-align: left;
  padding-left: 12px;
}
.project_meg .title {
  font-size: 1.3em!important;
  line-height: 23px!important;
  height: 25px!important;
  padding: 10px  0px 10px 12px!important;
  color: #009999 !important;
  font-family: 'Microsoft YaHei' !important;
  text-align: left;
}
.project_meg .project_name {
  height: 48px;
  line-height: 48px;
  padding-top: 2px;
  cursor: pointer;
}
.project_meg .subTitle span {
  font-size: 11px;
  margin-top: 8px;
  color: #009999;
  font-weight: 600;
}
.project_meg .miaoshu_n {
  text-align: left;
  padding: 11px 12px 0px;
  color: #999;
}
.project_meg .new_card {
  position: relative;
}
.project_meg .new_card .left {
  position: absolute;
  left: 0;
}
.project_meg .new_card .left .top {
  height: 130px;
  width: 130px;
  border-bottom: 1px solid #fff;
  background-color: #e6e6e6;
  padding: 10px;
}
.project_meg .new_card .left .top .lianJie {
  height: 110px;
  width: 110px;
  border-radius: 55px;
  background-color: #f3f3f3;
  line-height: 15px;
  border: 2px solid #ffffff;
}
.project_meg .new_card .left .top .lianJie .suzi {
  font-size: 24px;
  margin-top: 40px;
  display: inline-block;
  color: #099;
}
.project_meg .new_card .left .top .lianJie .ms {
  color: #929292;
  margin-top: 8px;
  display: inline-block;
}
.project_meg .new_card .left .top .lianJie .ms_2 {
  margin-top: 2px;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
}
.project_meg .new_card .left .bottom {
  height: 40px;
  background-color: #e6e6e6;
  line-height: 42px;
  color: #777;
  font-size: 12px;
}
.project_meg .new_card .left .bottom i {
  display: inline-block;
}
.project_meg .new_card .right {
  width: 100%;
  padding-left: 130px;
}
.project_meg .new_card .right .desc {
  margin-top: 0px!important;
}
.project_meg .new_card .right .top {
  border-bottom: 1px solid #ccc;
  height: 130px;
}
.project_meg .new_card .right .bottom {
  height: 30px;
}
.project_meg .new_card .right .bottom .b_left {
  width: 60%;
  height: 40px;
  line-height: 40px;
  border-right: 1px solid #ccc;
  float: left;
  color: #777;
}
.project_meg .new_card .right .bottom .b_left i {
  display: inline-block !important;
  float: none!important;
}
.project_meg .new_card .right .bottom .b_left i:hover {
  color: #009999;
}
.project_meg .new_card .right .bottom .b_right {
  width: 40%;
  height: 40px;
  line-height: 40px;
  background-color: #099;
  float: left;
  color: #fff;
}
.project_meg .new_card .right .bottom .b_right:hover {
  background-color: #12908b;
  cursor: pointer;
}
.fenxiang_u {
  width: 100%;
  background-color: #fff;
  margin-top: 175px;
  border-top: 2px solid #099;
  box-shadow: 2px 2px 4px #ccc;
  padding: 15px;
  text-align: left;
}
.fenxiang_u .fen_user {
  margin: 3px 3px;
  background-color: #b3b3b3;
  color: #fff;
  padding: 2px 10px 4px;
  border-radius: 4px;
  display: inline-block;
}
.fenxiang_u .fen_user:hover {
  background-color: #099;
  cursor: pointer;
}
.fenxiang_u .fen_user .dle {
  color: #fff!important;
  display: inline-block;
  float: none!important;
  cursor: pointer;
  margin-left: 5px;
  margin-right: -5px;
}
.pic_pelfile {
  height: 80px;
  border-bottom: 2px solid #3CB1B1;
  border-top: 2px solid #099;
  background-color: #b3d6d6;
  text-align: center;
}
.select_rp {
  font-weight: 600;
}
.main-panel-footer {
  border-top: 1px solid #D4D4D5;
}
.main-panel-footer .c_menu {
  height: 32px;
}
.main-panel-footer .c_menu ul {
  list-style: none;
  /* 去掉ul前面的符号 */
  margin: 0px;
  /* 与外界元素的距离为0 */
  padding: 0px;
  /* 与内部元素的距离为0 */
  width: auto;
  /* 宽度根据元素内容调整 */
  margin-left: 8px;
}
.main-panel-footer .c_menu ul li {
  float: left;
}
.main-panel-footer .c_menu ul li .dian {
  font-weight: 600;
}
.main-panel-footer .c_menu ul li a,
.main-panel-footer .c_menu ul li a:visited {
  margin: 7px 2px;
  font-size: 14px;
  display: block;
  /* 此元素将显示为块级元素，此元素前后会带有换行符 */
  text-decoration: none;
  /* 不显示超链接下划线 */
  white-space: nowrap;
  /* 对于文本内的空白处，不会换行，文本会在在同一行上继续，直到遇到 <br> 标签为止。 */
}
.main-panel-footer .c_menu ul li a i,
.main-panel-footer .c_menu ul li a:visited i {
  color: #929292;
  margin-left: 8px;
}
.main-panel-footer .c_menu ul li a i:hover,
.main-panel-footer .c_menu ul li a:visited i:hover {
  color: #009999;
}
.main-panel-footer .c_menu ul li a:hover,
.main-panel-footer .c_menu ul li a:visited:hover {
  text-decoration: none;
  /* 不显示超链接下划线 */
}
.main-panel-footer .c_menu ul li a:active,
.main-panel-footer .c_menu ul li a:visited:active {
  text-decoration: none;
  /* 不显示超链接下划线 */
  font-weight: 600;
}
.main-panel-footer .c_menu ul li .setdown {
  cursor: pointer;
  color: #929292;
  margin: 9px;
}
.main-panel-footer .c_menu ul li .setdown:hover {
  color: #099;
}
.main-panel-footer .footer-content {
  background-color: #F5F5F5;
  border-top: 1px solid #EFEFEF;
  padding: 0px 10px;
}
.main-panel-footer .footer-content .content1 {
  padding: 5px 00px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
.main-panel-footer .footer-content .content1 .rizhi .img_u {
  text-align: center;
  margin-left: 5px;
}
.main-panel-footer .footer-content .content1 .rizhi .img_u img {
  border-radius: 50%;
  width: 70% ;
  min-width: 25px;
  min-height: 25px;
}
.main-panel-footer .footer-content .content1 .rizhi .content_u P {
  margin-bottom: 5px;
}
.main-panel-footer .footer-content .content1 .rizhi .content_u a i {
  color: #929292;
  margin-left: 8px;
}
.main-panel-footer .footer-content .content1 .rizhi .content_u a i:hover {
  color: #009999;
}
.main-panel-footer .footer-content .content1 .rizhi .content_u .publish_time {
  float: left;
  color: #929292;
  font-size: 12px;
}
.main-panel-footer .footer-content .content1 .header_share {
  margin-left: 15px;
}
.main-panel-footer .footer-content .content1 .header_share ul {
  display: inline;
  white-space: nowrap;
}
.main-panel-footer .footer-content .content1 .header_share ul li {
  font-size: 20px;
  margin: 3px 10px;
  float: left;
  margin-left: 5px;
  color: #808080;
  cursor: pointer;
}
.main-panel-footer .footer-content .content1 .header_share ul li .a1 {
  color: #808080;
}
.main-panel-footer .footer-content .content1 hr {
  margin: 0px;
  color: #ccc;
}
.main-panel-footer .footer-content .content1 .weixin_erwema {
  margin-top: 10px;
  text-align: center;
}
.main-panel-footer .footer-content .content1 .weixin_erwema img {
  width: 200px;
  height: 200px;
  border: 1px solid #B5B5B5;
}
.main-panel-footer .footer-content .content1 .weixin_erwema .shuoming {
  margin: 10px auto 5px;
  height: 30px;
  width: 250px;
  background-color: #808080;
  border: 0px solid #ccc;
  border-radius: 15px;
  color: #fff;
  line-height: 30px;
}
.select_wenxin {
  color: #5FCA7E !important;
}
.share_out .title .title_1 {
  margin: 10px 5px;
  border-right: 1px solid #808080;
  display: inline-block;
  padding-right: 10px;
  cursor: pointer;
}
.share_out .title .title_1:hover {
  color: #009999;
  font-weight: 600;
}
.active_22 {
  color: #009999;
  font-weight: 600;
}
.del_share_m {
  float: right;
  font-size: 20px;
  margin: -3px 0px 0;
  color: #808080;
}
.del_share_m:hover {
  color: #009999;
}
#selkuang {
  background: #fff;
  position: absolute;
  width: 120px!important;
  height: 80px;
  top: 40px;
  color: #fff;
  display: none;
  box-shadow: 1px 2px 4px #bfbfbf;
}
#iw2s-main .navbar-bg-top .navbar-content-box {
  width: 100%;
  max-width: 1200px;
}
#iw2s-main .header-box .header {
  width: 100%;
}
#iw2s-main .header-box .header .searchbox {
  width: 100%;
  max-width: 1200px;
}
.change_big {
  position: absolute;
  right: 42px;
  top: 7px;
  color: #888;
  cursor: pointer;
  z-index: 100;
}
.change_big:hover {
  color: #099;
}
.jqstooltip {
  padding: 5px  !important;
  color: black !important;
  text-align: center !important;
  width: auto!important;
  height: auto!important;
  border-radius: 3px!important;
}
.jqsfield {
  font-size: 10px !important;
}
.modal-dialog {
  margin-bottom: 0px!important;
}
#wordtreeH .duibiBut {
  position: absolute;
  z-index: 10000;
  right: 25px;
  top: 7px;
}
#wordtreeH .duibiBut button {
  color: #fff;
  font-size: 14px;
  height: 34px;
  line-height: 34px;
  padding: 0 15px;
  background-color: #009999;
  border: 0;
}
#wordtreeH .duibiBut button:hover {
  background-color: #158681;
  color: #fff;
}
#mybox2 .panel-body {
  border-bottom: 1px solid #ccc;
}
#mybox2 .buttonPC button {
  padding: 4px 16px;
}
#mybox2 .Ydeled {
  padding: 10px 5px;
  width: 100%;
  min-height: 70px;
  border: 1px dashed #ccc;
  border-radius: 5px;
  background: #fbfbfb;
}
#mybox2 .Ydeled .keywordModal {
  background-color: #ffffff;
  padding: 3px 10px;
  border-radius: 30px;
  border: 1px solid #d2d2d2;
  margin: 2px;
}
.weiXian {
  cursor: pointer;
  background-color: #ccc;
  color: #fff;
  padding: 6px 8px;
}
.weiXianShow {
  border-bottom: 2px solid #009999;
  padding: 6px 6px 6px 0px;
}
.weiXianNum {
  cursor: pointer;
  background-color: #099;
  color: #fff;
  padding: 6px 8px;
  margin-right: 8px;
}
.topList a {
  color: #272727;
}
.topList a:hover {
  color: #099;
}
.EntityTree .EntityCard {
  border-bottom: 1px solid #099;
}
.EntityTree .EntityCard span {
  height: 40px;
  line-height: 40px;
  display: inline-block;
  border-radius: 5px;
  padding: 0 20px;
  color: #099;
  cursor: pointer;
}
.EntityTree .addEntityCard {
  padding: 20px 50px;
  box-shadow: 1px 1px 6px #ccc;
  margin: 30px;
}
.EntityMSelect {
  min-height: 100px;
  text-align: center;
  padding: 20px;
}
.EntityMSelect .title {
  font-size: 16px;
  color: #099;
}
.EntityMSelect span {
  color: #fff!important;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  margin: 20px 10px 0px;
  border-radius: 20px!important;
  height: 34px!important;
  line-height: 34px!important;
  background-color: #a0a0a0!important;
}
.EntityMSelect span:hover {
  background: #099!important;
  color: #fff!important;
  border-radius: 20px!important;
}
.EntityTreeList .xianshiXQ {
  cursor: pointer;
  margin-left: 8px;
}
.EntityTreeList .xianshiXQ:hover {
  color: #099;
}
.EntityTreeList .NriCard {
  min-width: 400px;
  box-shadow: 1px 1px 4px #afafaf;
  display: inline-block;
  padding: 15px 20px;
  margin-top: 5px;
  color: #555;
  background-color: #fff;
}
.EntityTreeList .NriCard span {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
}
.EntityTreeList .NriCard img {
  width: 120px;
  border-radius: 5px;
}
.EntityTreeList .caozuoMSC {
  float: right;
  color: #888;
}
.EntityTreeList .entitylistCard {
  margin-top: 9px;
  margin-bottom: 9px;
}
.EntityTreeList .entitylistCard .title {
  font-size: 16px;
  font-weight: 600;
  color: #777;
}
.EntityTreeList .entitylistCard span {
  font-size: 16px;
  font-weight: 600;
  color: #777;
  margin-left: 5px;
}
#addProjectGroup #addReport .reportList .RptList {
  position: absolute;
  background-color: #fff;
  box-shadow: 1px 1px 4px #adadad;
  width: 103%;
  padding: 17px;
  margin-left: -7px;
  top: 13px;
  border-radius: 2px;
}
.main-panel .thumbnail .btn-draggable {
  color: #444;
}
.main-panel .thumbnail .btn-draggable:hover {
  color: #333!important;
  background-color: #c7c7c7!important;
  cursor: pointer;
  border-radius: 0;
}
.wordCard {
  min-height: 200px;
  margin: 10px 30px;
  padding: 0px 8px;
  box-shadow: 1px 1px 6px #ccc;
}
.wordCard .WCleft {
  padding: 24px 25px;
}
.wordCard .WCleft img {
  width: 80px;
  border-radius: 7px;
}
.wordCard .WCleft .titleH {
  margin-top: 15px;
}
.wordCard .WCleft .titleH .THzhu {
  font-weight: 600;
  color: #777;
}
.wordCard .WCleft .titleH span {
  line-height: 22px;
}
.wordCard .WCleft .titleM {
  margin-top: 5px;
}
.wordCard .WCleft .titleM .THzhu {
  font-weight: 600;
  color: #777;
}
.wordCard .WCleft .titleM span {
  line-height: 22px;
}
.wordCard .WCright {
  border-left: 1px solid #ccc;
  min-height: 200px;
  padding: 10px 10px 6px;
  background-color: #fbfbfb;
}
.wordCard .WCright .Extractions {
  border: 1px dashed #bbb;
  border-radius: 5px;
  padding: 12px;
  background-color: #fff;
  margin: 10px;
}
