  #avatar_img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
.ui.label2 {
    background-color:#fff !important;
}

    .value_1 {
        color: #564F8A !important;
        line-height: 1 !important;
        margin-top: 0px !important;
        font-size: 30px !important;
    }

    .value_2 {
        color: #564F8A !important;
        line-height: 1 !important;
        margin-top: 0px !important;
        font-size: 30px !important;
    }

    .value_3 {
        color: #564F8A !important;
        line-height: 1 !important;
        margin-top: 0px !important;
        font-size: 30px !important;
    }

    .value_4 {
        color: #564F8A !important;
        line-height: 1 !important;
        margin-top: 0px !important;
        font-size: 30px !important;
    }

    .value_5 {
        color:#564F8A !important;
        line-height: 1 !important;
        margin-top: 0px !important;
        font-size: 30px !important;
    }
    .value_6 {
        color: #564F8A !important;
        line-height: 1 !important;
        margin-top: 0px !important;
        font-size: 30px !important;
    }

   .ui_a {
        color: rgba(0,0,0,.4);
        padding: 3px;
        font-weight:600;
        cursor: pointer;
    }
        .ui_a:hover {
            cursor: pointer;
           color: #333;
        }
    .get_top {
        color: white;
        font-size: 10px;
        margin: 5px 8px;
        min-width: 30px;
    }

    .get_top {
        transition: width 2s;
        -moz-transition: width 2s; /* Firefox 4 */
        -webkit-transition: width 2s; /* Safari and Chrome */
        -o-transition: width 2s; /* Opera */
    }

    .comment{
        padding-bottom: 7px !important;
    }

    #overview_left{
        padding-left: 40px; padding-right: 0px;
    }

    #overview{
        padding-top: 45px;
    }
.margintop10 {
    margin-top:10px!important;
}
   
 .page-home .header-logo {
        background-image: url('../images/logo_2.2.png');
        background-size: 278px;
    }

  .rmbf{
     font-size: 28px;
 }

.ui.styled.accordion, .ui.styled.accordion .accordion{
    border-radius: .28571429rem !important;
    background:  0 0 !important;
    box-shadow: 0 0px 0px 0 rgba(34,36,38,.15),0 0 0 0px rgba(34,36,38,15) !important;
    display: block;
    border-top: none;
    border-right: none;

 }

.ui.styled.accordion .accordion .title, .ui.styled.accordion .title{
    margin: 0;
    padding: 0.9em 1.1em !important;
    font-weight: 500 !important;
    color: rgb(0, 0, 0) !important;
    border-top: 0px solid rgba(34,36,38,.15) !important;
    border-bottom: 1px solid rgba(34,36,38,.15);
    -webkit-transition: background .1s ease,color .1s ease;
    transition: background .1s ease,color .1s cubic-bezier(0,0,0,.4) !important;
}

.dropdownicon{
    float: right !important;
    margin-right: 0px !important;
}

.item_border{
    border-bottom: 1px solid rgba(34,36,38,.15) !important;
}

.item_border1{
    margin: 0;
    padding: 0.9em 1.1em !important;
    font-weight: 500 !important;
    color: rgb(0, 0, 0) !important;
    border-top: 0px solid rgba(34,36,38,.15) !important;
    border-bottom: 1px solid rgba(34,36,38,.15);
    -webkit-transition: background .1s ease,color .1s ease;
    transition: background .1s ease,color .1s cubic-bezier(0,0,0,.4) !important;
}

.item_remark{
    font-size: 13px !important;
    color: gray !important;
    line-height:38px !important;
}
.table_tu{
    padding-right:10px;
    padding-top: 20px;
    height: 200px; 
    width:300px; 
}

.autoScroll 
{ 
width:300px; 
height:100px; 
overflow:auto; 
} 
        #hover:hover{
                background-color: #00b5ad;
                color: #fff;
                text-shadow: none;
                background-image: none;
            }

          body {
        background-color: #ECF0F1;
    }

 

    .main.menu {
        margin-top: 0px;
        border-radius: 0;
        border-bottom-color: #E6E0E0;
        box-shadow: none;
        transition: box-shadow 0.5s ease, padding 0.5s ease;
    }

        .main.menu .item img.logo {
            margin-right: 1.5em;
        }

    .overlay {
        float: left;
        margin: 0em 3em 1em 0em;
    }

        .overlay .menu {
            position: relative;
            left: 0;
            transition: left 0.5s ease;
        }

    .main.menu.fixed {
        background-color: #FFFFFF;
        border: 1px solid #DDD;
        -webkit-box-shadow: 0 -1px 8px 1px #bbb;
        -moz-box-shadow: 0 -1px 8px 1px #bbb;
        box-shadow: 0 -1px 8px 1px #bbb;
    }

    .overlay.fixed .menu {
        left: 800px;
    }

    .text.container .left.floated.image {
        margin: 2em 2em 2em -4em;
    }

    .text.container .right.floated.image {
        margin: 2em -4em 2em 2em;
    }

    .ui.footer.segment {
        margin: 5em 0em 0em;
        padding: 5em 0em;
    }
  
    #deleteicon{
    /*position : absolute;*/
    display:none;
    }
  