<div class="mt20 row">
    <div class="col-sm-2">
        <div id="fixedDiv">
            <div ng-show="isActivepro1">
                <div class="main-panel">
                    <div class="main-panel-title" style="color: #808080;">
                        <span class="main-panel-text active" ng-click="changepro1_show()">关键词组</span>
                        <span style="margin-left:15px;" class="main-panel-text" ng-click="changepro1_hide()">实体库</span>
                        <a href="" title=""><i class="fa fa-minus"></i></a>
                        <!--<a href="" title=""><i class="fa fa-refresh" ng-click=""></i></a>-->
                    </div>
                    <div class="main-panel-content" style="min-height:250px;max-height:250px;">
                        <ul id="treeDemo" class="ztree"></ul>
                    </div>
                    <div class="main-panel-footer" ng-mouseenter="$root.change_model(1022,0)">
                        <div ng-include="'Scripts/app/views/common/c_menu3.html'"></div>
                        <div ng-include="'Scripts/app/views/common/footer-content.html'" ng-show="num==22"></div>
                    </div>
                </div>
            </div>
            <div ng-hide="isActivepro1">
                <div class="main-panel">
                    <div class="main-panel-title" style="color: #808080;">
                        <span class="main-panel-text " ng-click="changepro1_show()">关键词组</span>
                    <span style="margin-left:15px;" class="main-panel-text active"
                          ng-click="changepro1_hide()">实体库</span>
                        <a href="" title=""><i class="fa fa-minus"></i></a>
                        <a href="" title=""><i class="fa fa-refresh" ng-click=""></i></a>
                    </div>
                    <div class="main-panel-content" style="min-height:250px;max-height:350px;">
                        <div class="keywords">
                            <div class="items">
                            <span ng-repeat="x in keywordsListRecord | filter:historyBaidu">
                                <a href="" onmouseover="$(this).children('i').show()"
                                   onmouseout="$(this).children('i').hide()"
                                   ng-click="getBaiduRecord(x._id,x.CommendKeywordId)"
                                   ng-class="{true: 'active', false: 'inactive'}[ x._id == $root.getBaiduRecordId]">
                                  <span class="fa fa-circle" ng-class="{0: 'red', 1: 'orange', 2: 'green'}[x.BotStatus]"></span>{{x.ProjectName}}({{x.ValLinkCount}})<i ng-click="ExcludeBaiduKeyword(x._id)" style="display: none;" class="fa fa-close"></i>
                                </a>
                            </span>
                            </div>
                        </div>
                        <div class="loadMore" ng-click="GetMoreBaiduKeyword()" ng-show="isActiveLoadmore">
                            加载更多...
                        </div>
                    </div>
                    <div class="main-panel-footer" ng-mouseenter="$root.change_model(1020,0)">
                        <div ng-include="'Scripts/app/views/common/c_menu3.html'"></div>
                        <div ng-include="'Scripts/app/views/common/footer-content.html'" ng-show="num==20"></div>
                    </div>
                </div>
            </div>
            <div ng-show="isActiveShowKw">
                <div class="main-panel">
                    <div class="main-panel-title" style="color: #808080;">
                        <span class="main-panel-text active" ng-click="showNotRemovedKw()">搜索关键词</span>
                        <span style="margin-left:10px;" class="main-panel-text" ng-click="showRemovedKw()">排除词</span>
                        <span style="margin-left: 10px;"><input type="checkbox" ng-model="kwcheckedAll"
                                                                ng-click="allchk(kwcheckedAll)">全选</span>
                        <a href="" title=""><i class="fa fa-minus"></i></a>
                        <a href="" title=""><i class="fa fa-refresh" ng-click=""></i></a>
                        <a href="" title="排除关键词"><i class="fa fa-trash" ng-click="cancelCheckedword()"></i></a>
                    </div>
                    <div class="main-panel-content" style="min-height: 250px; max-height: 350px; margin-top: 25px;">
                        <div class="keywords">
                            <div class="items">
                                <span ng-repeat="x in GetAllKeywordCategory_list">
                                    <span ng-click="GetBaiduLevelLinks2(x.id)">
                                        <label id="checkboxcancel" style="cursor: pointer;">
                                            <span class="fa fa-circle" ng-class="{0: 'red', 1: 'orange', 2: 'green'}[x.BotStatus]"></span>{{x.name}}({{x.ValLinkCount}})
                                            <input type="checkbox" ng-checked="kwcheckedAll" class="checkedKeyword" ng-model="xx" ng-click="chk(x.id,xx)">
                                        </label>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="main-panel-footer" ng-mouseenter="$root.change_model(1021,0)">
                        <div ng-include="'Scripts/app/views/common/c_menu3.html'"></div>
                        <div ng-include="'Scripts/app/views/common/footer-content.html'" ng-show="num==21"></div>
                    </div>
                </div>
            </div>

            <div ng-hide="isActiveShowKw">
                <div class="main-panel" ng-hide="isActiveShowKw">
                    <div class="main-panel-title" style="color: #808080;">
                        <span class="main-panel-text" ng-click="showNotRemovedKw()">搜索关键词</span>
                        <span style="margin-left:10px;" class="main-panel-text active" ng-click="showRemovedKw()">排除词</span>
                        <span style="margin-left: 10px;"><input type="checkbox" ng-model="kwcheckedAll" ng-click="allchk(kwcheckedAll)">全选</span>
                        <a href="" title=""><i class="fa fa-minus"></i></a>
                        <a href="" title=""><i class="fa fa-refresh" ng-click=""></i></a>
                        <a href="" title="恢复关键词"><i class="fa fa-mail-reply-all" ng-click="recover()"></i></a>
                    </div>
                    <div class="main-panel-content" style="min-height:250px;max-height:350px;">
                        <div class="keywords pt20">
                            <div class="items ">
                                <span ng-repeat="x in GetAllKeywordCategory_list">
                                    <span ng-click="GetBaiduLevelLinks2(x.id)">
                                        <label id="checkboxcancel" style="cursor: pointer;">
                                            <span class="fa fa-circle"ng-class="{0: 'red', 1: 'orange', 2: 'green'}[x.BotStatus]"></span>
                                            {{x.name}}({{x.ValLinkCount}})
                                            <input type="checkbox" ng-checked="kwcheckedAll" class="checkedKeyword"ng-model="xx" ng-click="chk(x.id,xx)">
                                        </label>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-10" id="rightDiv">
        <div ng-include="'Scripts/app/views/Dashboard/WeChat/WC_model/WC_share_1.html'"></div>
        <div ng-include="'Scripts/app/views/Dashboard/WeChat/WC_model/WC_share_2.html'"></div>
        <div ng-include="'Scripts/app/views/Dashboard/WeChat/WC_model/WC_share_3.html'"></div>
        <div ng-include="'Scripts/app/views/Dashboard/WeChat/WC_model/WC_share_12.html'"></div>
    </div>

</div>

<script>
    $(function () {
        $('.fa-minus').click(function () {
            var cardContent = $(this).parent().parent().parent('.main-panel').children('.main-panel-content');
            if (cardContent.hasClass('active')) {
                $(this).addClass('fa-minus');
                $(this).removeClass('fa-plus');
                $(cardContent).removeClass('active');
            } else {
                $(this).removeClass('fa-minus');
                $(this).addClass('fa-plus');
                $(cardContent).addClass('active');
            }
            cardContent.toggle(500);
        })

        //左侧div滑动到顶部让其固定 采用防抖函数

        function debounce(func, wait) {
            var timeout;
            return function () {
                clearTimeout(timeout);
                timeout = setTimeout(func, wait);
            };
        };

        function realFunc() {
            if ($(window).scrollTop() > 160) {
                $('#fixedDiv').animate({marginTop: $(window).scrollTop() - 160 + 'px'}, 500);
            } else {
                $('#fixedDiv').animate({marginTop: 0}, 500);
            }
        }

        $(window).bind('scroll', debounce(realFunc, 500));
    })

</script>


