<div class="main-panel-title" style="color: #808080;">
    <span class="main-panel-text" ng-class="{true:'active',false:''}[keywordCisActive==1]" style=" cursor: pointer" ng-click="keywordControlIsActive(1)">词组管理</span>
    <span class="main-panel-text" ng-class="{true:'active',false:''}[keywordCisActive==8]" style=" margin-left: 5px;cursor: pointer" ng-click="keywordControlIsActive(8)">命名实体管理</span>
    <span class="main-panel-text " ng-class="{true:'active',false:''}[keywordCisActive==2]" style=" margin-left:5px; cursor: pointer" ng-click="keywordControlIsActive(2)">词树概览</span>
    <!--<span class="main-panel-text " style=" margin-left:5px; cursor: pointer" ng-click="keywordControlIsActive3()" title="本树状图显示的为关键词分组状况,点击节点可查看下一级关键词">词组关系树状图</span>-->
    <span class="main-panel-text " ng-class="{true:'active',false:''}[keywordCisActive==4]" style=" margin-left:5px; cursor: pointer" ng-click="keywordControlIsActive(4)">关键词共现</span>
    <span class="main-panel-text " ng-class="{true:'active',false:''}[keywordCisActive==7]" style=" margin-left:5px; cursor: pointer" ng-click="keywordControlIsActive(7)">网页关系</span>
    <span class="main-panel-text  " ng-class="{true:'active',false:''}[keywordCisActive==5]" style=" margin-left:5px; cursor: pointer" ng-click="keywordControlIsActive(5)">词组链接</span>
    <span class="main-panel-text" ng-class="{true:'active',false:''}[keywordCisActive==6]" style=" margin-left: 5px;cursor: pointer" ng-click="keywordControlIsActive(6)">分析指项管理</span>
    <span class="main-panel-text" ng-class="{true:'active',false:''}[keywordCisActive==9]" style=" margin-left: 5px;cursor: pointer" ng-click="keywordControlIsActive(9)">域名管理</span>
    <a href="" title=""><i class="fa fa-minus"></i></a>
    <a href="" title=""><i class="fa fa-refresh"></i></a>
</div>