<div class="modal-header">
    <button type="button" class="close"
            data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
        &times;
    </button>
    <h4 class="modal-title" id="myModalLabel">
        创建
    </h4>
</div>
<div class="modal-body" id="addProjectGroup">
    <!--<div class="row">
        <span ng-show="isActiveFilter" style="color:green;font-size:14px;" class="text-center">添加成功!</span>
    </div>-->
    <div style="text-align:center">
        <span style="color: red; font-size: 14px;">{{error}}</span>
    </div>
    <div id="addReport">
        <div class="ReportCard"style="box-shadow:0 0 0">
            <div class="addCard pr10 pt0 pl10 pb0">
                <form>
                    <div class="form-group ">
                        <label for="exampleInputEmail1">项目组名称</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="请输入项目组名称" ng-model="projectName">
                    </div>
                    <div class="form-group mt20">
                        <label>选择项目</label>
                        <div class="reportList"style="height:auto">
                            <span ng-click="SelReportSwFun(1)" ng-show="SelReportSw==0&&(!selectPjt0bject.Name)" style="color:#fff;background-color:#999"><i class="fa fa-plus-square"></i>点击选择项目</span>
                            <div>
                                <span ng-repeat="x in selectPjt0bjectList" class="mr10 mt5" ng-click="delPjt(x)" >{{x.Name}} <i class="fa fa-times-circle ml5"></i></span>
                            </div>
                            <div style="position:relative;">
                                <div class="RptList"  ng-show="SelReportSw==1">
                                    <div class="title">
                                        请选择项目
                                        <i class="fa fa-times-circle ml5" style="float:right;font-size:16px;color:#777;cursor:pointer" ng-click="SelReportSwFun(0)"></i>
                                    </div>
                                    <div class="list_r" style="height: 170px; overflow-y: auto;">
                                        <span ng-click="selectPjt(x)" ng-repeat="x in $root.projectsList2" style="background-color:#777"><i class="fa fa-plus-circle mr5"></i>{{x.Name}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt20">
                        <label for="exampleInputPassword1" ng-modal="description">简述</label>
                        <textarea class="form-control" rows="5" placeholder="请输入项目描述" ng-model="projectNameDescribe"></textarea>
                    </div>
                </form>
            </div>
        </div>



    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-tea" ng-click="InsertProjectCategory()" ng-show="!UpdataPG">
        创建
    </button>
    <button type="button" class="btn btn-tea" ng-click="UpdateProjectCategory()" ng-show="UpdataPG">
        更新
    </button>
    <button type="button" class="btn btn-cancle"
            data-dismiss="modal" ng-click="cancel()">
        取消
    </button>

</div>
